@charset "utf-8";
@import url(fonts.css);
/*-------------------------------------------------
Author : jwshin
Create date : 2024-01-19
Version : v1.0
Revision date : 2024-04-24
Version : v2.0
-------------------------------------------------*/

body {position: relative; background: #fff;}

/* 본문 바로가기 */
#skipNav{position:relative;z-index:9999;}
#skipNav a{position: absolute; top: -200px; left:0;width: 100%; line-height: 30px; background-color: #000; color:#fff; text-align:center;}
#skipNav a:focus, 
#skipNav a:active{top: 0;}

/* 헤더 스타일 */
#header {position: absolute; left: 0; top: 0; z-index: 9000; width: 100%; height: 80px; background: #ffffff; -webkit-transition: top 0.3s ease-in-out; transition: top 0.3s ease-in-out; box-shadow: 0px 0px 6px hsla(219, 12%, 24%, 0.2);}
#header.on {position: sticky;}
#header .header-layout {display: flex; justify-content: space-between; align-items: flex-start; width: 100%; max-width: 1920px; margin: 0 auto; padding: 0 70px; z-index: 310;}
#header .header-layout.sub-page {max-width: 100%;}
#header .header-left {display: flex; align-items: flex-start; justify-content: space-between; z-index: 260;}
#header #logo {height: 80px;}
#header #logo a {height: 100%; width: 100%; display: flex; align-items: center; justify-content: center;}
#header .header-right {display: flex; align-items: center; justify-content: flex-end; height: 80px; z-index: 260;}
#header .header-right .user-wrap {display: flex; align-items: center; justify-content: space-between; margin-right: 20px;}
#header .header-right .log-time {position: relative; font-size: 1.4rem; color: #43464c; line-height: 18px; margin-right: 20px;}
#header .header-right .log-time:before {position: absolute; display: block; width: 18px; height: 18px; background: url(../images/main/ic_logtime.svg) no-repeat; content: ''; top: 0; left: -26px;}
#header #gnb {min-width: 846px; z-index: 300; margin-left: 45px;}
#header #gnb>ul {display: flex; align-items: flex-start; gap: 0px;}
#header #gnb>ul>li {width: calc(100% / 7); text-align: center;}
#header #gnb>ul>li>a {width: 100%; font-size: 2.1rem; font-weight: 500; display: flex; height: 80px; align-items: center; justify-content: center;}
#header #gnb>ul>li>a>span {position: relative;}
#header #gnb>ul>li.focus>a>span {font-weight: 600; display: block;}
#header #gnb>ul>li.focus>a>span:after {position: absolute; content: ''; display: block; bottom: -10px; left: 0; width: 100%; height: 2px; background-color: #1d1e21;}
#header #gnb>ul>li .depth2 {display: none; z-index: 280; align-items: center; gap: 0px; flex-direction: column; padding: 10px 0 40px; transition: all .5s;}
#header #gnb>ul>li .depth2.on {display: flex;}
#header #gnb>ul>li .depth2>li {width: 100%;}
#header #gnb>ul>li .depth2>li>a {height: 38px; width: 100%; display: flex; align-items: center; justify-content: center;word-break: keep-all;}
#header #gnb>ul>li .depth2>li>a:hover {color: #4763c2; background: #f6f6f9; font-weight: 500; border-radius: 4px;}
.gnb-bg {position: fixed; left: 0; top: 0; width: 100%; height: 0; z-index: 250; background: #fff; transition: all .3s;}
.gnb-bg.on {height: 586px;}
.dim {display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; right: 0; bottom: 0; z-index: 235; content: ""; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); background-color: hsla(0, 0%, 0%, 0.4);}

/* Button Style */
.btn-login {font-size: 1.4rem; font-weight: 500; height: 29px; padding: 0 16px; display: flex; align-items: center; justify-content: center; border: 1px solid #43464c; color: #535b63; border-radius: 150px; transition: all .3s; white-space: nowrap;}
.btn-login:hover {background: #535b63; color: #ffffff;}

@media (max-width: 1720px) {
    #header #gnb {min-width: 720px;}
    #header .header-layout {padding: 0 40px;}
    #header .header-left {gap: 40px;}
}

@media (max-width: 1640px) {
    #header .header-right .user-wrap {flex-direction: column-reverse; align-items: flex-start; gap: 6px;}
    #header .header-right .user-wrap .log-time>span {padding-left: 24px;}
    #header .header-right .user-wrap>span {font-size: 1.3rem; word-break: keep-all;}
    #header .header-right .log-time {display: none;}
}

@media (max-width: 1540px) {
    #header #gnb {min-width: 680px;}
    #header #gnb>ul>li>a {font-size: 1.8rem;}
    #header .header-right .log-time {font-size: 1.2rem;}
    #header .header-right {gap: 10px;}
}

@media (max-width: 1280px) {
    #wrap {width: 1280px;}
    #header {width: 1280px;}
    #header.on {position: sticky;}
    .gnb-bg {width: 1280px;}
    #header #gnb {min-width: 660px;}
    #header .header-layout {width: 1280px;}
    #footer {width: 1280px;}
}

/* 메인 스타일 */
#wrap {position: relative;}
#main, #sub-container {padding-top: 80px; position: relative;}
#sub-container {display: flex; justify-content: flex-start;}

/* 풋터 스타일 */
#footer {color: #666c75; font-size: 12px; font-weight: 400; text-align: center; line-height: 20px; margin: 0 0 45px;}
#footer-sub {color: #666c75; font-size: 12px; font-weight: 400; text-align: center; line-height: 20px; text-align: center; margin: 24px auto 30px; padding-top: 30px; border-top: 1px solid #e8e8e8;}
