@import url(fonts.css);

/* 상단 배너 */
.main-banner {width: 100%; height: 68px; display: flex; justify-content: center; align-items: center; gap: 6px; flex-direction: column; column-gap: 8px; background: url(../images/main/bg_banner.png) no-repeat; background-size: cover;}
.main-banner .banner-content-wrap {height: 28px; overflow: hidden; display: flex; flex-direction: column;}
.main-banner .banner-content-track {transition: all .5s ease-out;}
.main-banner .banner-content {display: flex; align-items: center; gap: 12px; justify-content: center;}
.main-banner .banner-tag {display: flex; align-items: center; justify-content: center; height: 28px; padding: 0 16px; font-size: 1.4rem; line-height: 1.4rem; border: 1px solid #111827; color: #111827; border-radius: 150px;}
.main-banner .banner-title {font-weight: 500; font-size: 1.5rem;}
.main-banner .banner-link {position: relative; font-size: 1.5rem; color: #2141B0; line-height: 24px;}
.main-banner .banner-link>a {display: flex; height: 25px;}
.main-banner .banner-link>a>img {width: 24px; height: 24px;}
.main-banner .banner-item {display: flex; align-items: center; gap: 6px;}
.main-banner .banner-item li>a {display: block; width: 8px; height: 8px; background: #c5cada; border-radius: 4px; transition: all .5s;}
.main-banner .banner-item li.on>a {width: 40px; background: #52639b;}

/* 메인 컨텐츠 */
.main-contents {width: calc(100vw - 140px); max-width: 1780px; margin: 20px auto 44px;}
.ts-wrap {position: relative; width: 100%; display: flex; align-items: center; justify-content: space-between; background: url(../images/main/bg_maininfo.png) no-repeat; background-size: cover; border-radius: 20px;}
.ts-wrap>div {display: flex; flex-direction: column; justify-content: center; flex: 1;}
.ts-left {position: relative; color: #fff; margin: 46px 0 0 70px; padding-bottom: 52px; padding-right: 74px; align-self: stretch;}
.ts-left::after {position: absolute; right: 0; bottom: -3px; width: 200px; height: 168px; background: url(../images/main/bg_infogragh.svg) no-repeat bottom left; display: block; content: ''; background-size: contain;}
.ts-left-title {display: flex; justify-content: flex-start; flex-direction: column; column-gap: 16px; margin: 11px 0 26px; font-family: 'GmarketSans', 'Pretendard', "NotoSansKR", sans-serif;}
.ts-left-title h2 {position: relative; display: inline-block; width: fit-content; font-size: 4rem; line-height: 4rem; font-weight: 700; margin-bottom: 18px;}
.ts-left-title h2::after {position: absolute; content: ''; display: block; background: url(../images/main/ic_pencil.svg) no-repeat; width: 40px; height: 40px; right: -47px; top: 0;}
.ts-left-title p {font-size: 1.8rem; line-height: 2.3rem; font-weight: 500; color: #dadff2; word-break: keep-all;}
.ts-left-content ul {display: flex; flex-wrap: wrap; margin-bottom: 30px; gap: 16px;}
.ts-left-content ul li {width: 200px; height: 56px; line-height: 20px; display: flex; align-items: center; justify-content: center; border-radius: 50px; border: 1px solid #fff; font-size: 20px; font-weight: 600;}
.ts-left-content ul li strong {color: #5bebff; font-size: 2.8rem; margin: 0 12px; font-family: 'GmarketSans', 'Pretendard', "NotoSansKR", sans-serif;}
.ts-left-link {font-size: 1.8rem; padding: 0 5px;}
.ts-left-link>a {position: relative; display: inline-block; line-height: 28px;}
.ts-left-link>a:after {position: absolute; display: block; width: 28px; height: 28px; content: ''; background: url(../images/main/ic_carousel.svg) no-repeat; top: 0; right: -39px;}
.ts-left-link>a:nth-child(2) {padding-left: 60px;}
/* .ts-left-link>a:nth-child(2)::after {position: absolute; display: block; width: 28px; height: 28px; content: ''; background: url(../images/main/ic_carousel2.svg) no-repeat; top: 0; right: -39px;} */
.ts-right {margin: 26px 50px; padding: 36px 44px; background: #fff; border-radius: 14px;}
.ts-right-title {display: flex; align-items: center; justify-content: space-between; font-size: 2.4rem; line-height: 2.4rem; font-family: 'GmarketSans', 'Pretendard', "NotoSansKR", sans-serif; margin-bottom: 8px;}
.ts-right-title span {font-weight: 500; line-height: 2.4rem;}
.ts-right-title span strong {font-weight: 700; color: #4662c1; line-height: 2.4rem;}
.ts-right-title a {width: 26px; height: 26px; background: url(../images/main/ic_plus.svg) no-repeat; margin-bottom: 4px;}
.ts-right-result {background: #f3f4fb; border-radius: 8px; height: 60px; display: flex; align-items: center;}
.ts-right-result .offer-result {background: #3653b7; border-radius: 8px; color: #fff; font-size: 1.8rem; font-weight: 700; display: flex; align-items: center; justify-content: center; height: 100%; width: 160px; font-family: 'GmarketSans', 'Pretendard', "NotoSansKR", sans-serif;}
.ts-right-result .offer-result span {font-weight: 500;}
.ts-right-result .offer-count {font-size: 1.6rem; color: #48494b; display: flex; align-items: center; gap: 3.4rem; justify-content: center; width: calc(100% - 160px);}
.ts-right-result .offer-count li {display: flex; align-items: center; justify-content: center;}
.ts-right-result .offer-count li span {text-align: center;}
.ts-right-result .offer-count .dot {width: 6px; height: 6px; background: #d9d9d9; border-radius: 3px;}
.ts-right-result .offer-count strong {font-size: 1.8rem; font-weight: 600; color: #1c1d1f; margin-left: 1rem;}
.ts-right .offer-item {display: flex; align-items: center; justify-content: space-between; font-size: 1.6rem; line-height: 1.5rem; padding: 16px 0; border-bottom: 1px solid #edeff4; gap: 20px;}
.ts-right .offer-item.no-item {display: flex; flex-direction: column; align-items: center; justify-content: center; font-size: 1.5rem; line-height: 1.5rem; padding: 28.5px 0; border-top: 1px solid #edeff4; border-bottom: 1px solid #edeff4; gap: 12px;}
.ts-right .offer-item.no-item a {display: flex; align-items: center; justify-content: center; height: 44px; padding: 0 52px 0 34px; border-radius: 30px; background: #3b3b45; color: #fff;}
.ts-right .offer-item.no-item a>span {position: relative; display: block; line-height: 15px;}
.ts-right .offer-item.no-item a>span::after {position: absolute; display: block; width: 20px; height: 20px; content: ''; top: -2.5px; right: -20px; background: url(../images/main/ic_arrow-right.svg) no-repeat; background-size: contain;}
.ts-right .offer-item:hover .offer-title {text-decoration: underline;}
.ts-right .offer-title {max-width: calc(100% - 228px);}
.ts-right .offer-title span {word-break: keep-all; line-height: 1.8rem; display: block; white-space: wrap;}
.ts-right .offer-state {display: flex; justify-content: flex-end; gap: 10px;}
.ts-right .offer-state li {width: 41px; height: 14px; border-radius: 4px; background: #eaeff5;}
.ts-right .offer-state li.done {background: #46bcef;}
.ts-right .offer-level {width: 100%; display: flex; justify-content: flex-end; gap: 20px; padding: 20px 0; margin-bottom: 10px; flex-wrap: wrap;}
.ts-right .offer-level li {color: #9093a7; display: flex; align-items: center; gap: 6px; font-size: 12px;}
.ts-right .offer-level .level-num {width: 16px; height: 16px; display: flex; align-items: center; justify-content: center; line-height: 16px; background: #c4c7d7; color: #fff; font-weight: 500; border-radius: 8px;}
.ts-right .offer-level .level-name {font-weight: 400;}

@media (max-width: 1840px) {
    .ts-left::after {right: -32px;}
}

@media (max-width: 1760px) {
    /* .ts-left {margin: 70px 0 0 70px;} */
    .ts-left::after {right: -40px;}
    .ts-left-title {margin: 11px 0 26px;}
    .ts-left-content ul {margin-bottom: 36px;}
    .ts-left-content ul li {width: 180px; height: 52px; font-size: 1.8rem;}
}

@media (max-width: 1720px) {
    .main-contents {width: calc(100vw - 80px);}
    .ts-wrap {width: calc(100% - 80px); margin: 0 auto;}
    .ts-right-result .offer-count {gap: 2.4rem;}
    .ts-right .offer-state {gap: 8px;}
    .ts-right .offer-state li {width: 30px; height: 14px;}
}

@media (max-width: 1660px) {
    .ts-left-content ul li {width: 170px; height: 50px; font-size: 1.6rem;}
    .ts-left-content ul li strong {font-size: 2.4rem;}
    .ts-right {padding: 40px 35px;}
    .ts-right .offer-level {gap: 6px; row-gap: 10px;}
    .ts-right .offer-state {gap: 8px;}
    .ts-right .offer-state li {width: 22px; height: 10px;}
    .ts-right-result .offer-result {width: 110px;}
    .ts-right-result .offer-count {width: calc(100% - 110px);}
    .ts-right .offer-title {width: calc(100% - 228px); max-width: 340px;}
    .ts-right .offer-title span {white-space: nowrap;}
}

@media (max-width: 1582px) {
    .ts-left {margin: 90px 0 0 70px;}
    .ts-left::after {width: 212px;}
    .ts-left-content ul {gap: 10px;}
    .ts-left-content ul li {width: 146px; height: 48px; font-size: 1.4rem;}
    .ts-left-content ul li strong {font-size: 2rem; margin: 0 6px;}
    .ts-right .offer-level {margin-bottom: 0;}
    .ts-right-result .offer-count li {flex-direction: column;}
    .ts-right-result .offer-count li span {font-size: 1.4rem;}
    .ts-right-result .offer-count strong {text-align: center; display: block; margin-left: 0;}
}

@media (max-width: 1440px) {
    .ts-left {margin: 60px 0 0 40px;}
    .ts-left::after {right: -36px;}
    .ts-left-content ul li {width: 136px; height: 46px; font-size: 1.4rem;}
    .ts-right .offer-state {gap: 6px;}
    .ts-right .offer-state li {width: 10px; border-radius: 2px;}
    .ts-right .offer-title {width: calc(100% - 132px); max-width: 340px;}
    .ts-left-link {display: flex; flex-direction: column;}
    .ts-left-link>a {width: fit-content;}
    .ts-left-link>a:nth-child(2) {padding-left: 0; margin-top: 1.6rem;}
}

@media (max-width: 1280px) {
    .main-banner {width: 1280px;}
    .main-contents {width: 1280px;}
    .ts-wrap {width: calc(100% - 120px);}
    .ts-left::after {width: 200px; right: 0;}
    .ts-right {margin: 50px 40px 50px 10px;}
    .ts-right .offer-level li {font-size: 10px;}
    .ts-right .offer-level .level-num {width: 14px; height: 14px;}
    .ts-right-result .offer-count {gap: 1.4rem;}
}

.bs-wrap {display: flex; justify-content: space-between; margin: 40px 50px 44px; gap: 48px;}
.bs-wrap.normal-user .bs-items {height: 230px;}
.bs-wrap.normal-user .bs-box {height: 100%;}
.bs-wrap.normal-user .bs-confirm {padding: 14px 32px;}
.bs-wrap.normal-user .bs-box {flex: 1;}
.bs-col {display: flex; flex-direction: column; width: 100%; gap: 40px;}
.bs-items {display: flex; align-items: flex-start; justify-content: space-between; gap: 37px; width: 100%; height: 294px;}
.bs-item {display: flex; flex-direction: column; width: 100%;}
.bs-item.left {flex: 1; height: 100%;}
.card-best-wrap {position: relative; height: 100%;}
.card-best-track {height: 100%;}
.card-best-wrap .card-navi {position: absolute; bottom: 45px; left: 34px; display: flex; align-items: center; gap: 6px;}
.card-navi .navi-btn {display: block; width: 8px; height: 8px; background: #dae2fc; border-radius: 4px; transition: all .5s;}
.card-navi .navi-btn.this {background: #52639b; width: 26px;}
.card-best {display: flex; flex-direction: column; color: #e5e5e6; justify-content: flex-start; padding: 45px 34px; border-radius: 12px; background: #000 url(../images/main/bg_best.png) no-repeat; width: 247px; height: 100%; background-position: bottom right;}
.card-title-wrap {display: flex; flex-direction: column; justify-content: flex-start;}
.card-title-wrap>em {font-size: 2.6rem; font-weight: 700; width: fit-content; background: linear-gradient(94deg, #FDFDFD 0%, #67DCFF 55.9%, #D27EFF 100%); background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; margin-bottom: 8px; font-family: 'GmarketSans', 'Pretendard', "NotoSansKR", sans-serif;}
.card-title-wrap>span {line-height: 21px; width: 140px; word-break: auto-phrase;}
.card-link {display: flex; align-items: center; gap: 4px; font-weight: 500; position: relative; width: fit-content; line-height: 24px; margin-top: 16px;}
.card-link::after {position: absolute; content: ''; display: block; right: -28px; top: 0; width: 24px; height: 24px; background: url(../images/main/ic_card-link.svg) no-repeat;}
.bs-title {display: flex; align-items: flex-start; justify-content: space-between; font-size: 2.4rem; line-height: 2.4rem; font-family: 'GmarketSans', 'Pretendard', "NotoSansKR", sans-serif;}
.bs-title h3 {font-weight: 700;}
.bs-title span {font-weight: 500;}
.bs-title span strong {font-weight: 700; color: #4662c1;}
.bs-title a.plus {width: 26px; height: 26px; background: url(../images/main/ic_plus.svg) no-repeat; margin-bottom: 4px;}
.bs-ct-select {display: flex; align-items: flex-start; justify-content: space-between; gap: 1.8rem;}
.bs-ct-select h3 {height: 2.6rem;}
.ct-select {position: relative; font-size: 2.4rem; font-weight: 700; line-height: 2.4rem;}
.ct-select>a {display: block; height: 3.6rem; color: #1d1e21; border: none; line-height: 2.4rem; border-bottom: 2px solid #000126; padding: 0 28px 12px 0; background: url(../images/main/select-category.svg) no-repeat right 8px/14px auto;}
.ct-option {position: absolute; left: 0; top: 4rem; width: 12rem; padding: 1.2rem 0; display: none; flex-direction: column; border-radius: 8px; border: 2px solid #000126; background: #fff; z-index: 50;}
.ct-option li a {color: #36383c; font-size: 1.6rem; line-height: 1.6rem; padding-left: 1.8rem; width: 100%; height: 32px; display: flex; align-items: center; justify-content: flex-start; font-weight: 700;}
.ct-option li a:hover {color: #4763c2; text-decoration: underline;}
.bs-box-wrap {display: flex; row-gap: 12px; column-gap: 11px; flex-wrap: wrap; flex: 1;}
.bs-box {width: calc((100% - 22px) / 3); height: 72px; background: #fff; border-radius: 12px; box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.08); display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 7px;}
.bs-box.mybox {background: #fafbff; border: 2px solid #3653b7;}
.bs-box.mybox h6 {color: #4a5b94; font-weight: 600;}
.bs-box.mybox strong {color: #1e337b;}
.bs-box h6 {position: relative; color: #4a4b4c; font-size: 1.6rem; line-height: 15px; font-weight: 400;}
/* .bs-box h6.new::after {position: absolute; width: 6px; height: 6px; border-radius: 3px; background: #fc5a5a; top: -6px; right: -6px; display: block; content: '';} */
.bs-box strong {line-height: 20px; font-weight: 600; font-size: 2.1rem;}
.ck-result-wrap {background: #f3f4fb; border-radius: 8px; height: 74px; display: flex; align-items: center; margin-top: 2.2rem;}
.ck-result-wrap .ck-result {background: #4763c2; border-radius: 12px; color: #fff; font-size: 1.8rem; font-weight: 500; display: flex; align-items: center; justify-content: center; height: 100%; width: 130px; font-family: 'GmarketSans', 'Pretendard', "NotoSansKR", sans-serif;}
.ck-result-wrap .ck-count {font-size: 1.6rem; color: #48494b; display: flex; align-items: center; gap: 0.9rem; justify-content: center; width: calc(100% - 130px);}
.ck-result-wrap .ck-count li {display: flex; align-items: center; justify-content: center; flex-direction: column; gap: 6px;}
.ck-result-wrap .ck-count li span {width: 7rem; display: block; text-align: center; line-height: 1.5rem; word-break: break-all;}
.ck-result-wrap .ck-count .dot {width: 6px; height: 6px; background: #d9d9d9; border-radius: 3px;}
.ck-result-wrap .ck-count strong {font-size: 1.7rem; line-height: 1.7rem; font-weight: 600; color: #1c1d1f;}

@media (max-width: 1720px) {
    .ck-result-wrap .ck-count {width: calc(100% - 110px);}
    .ck-result-wrap .ck-result {width: 110px;}
    .ck-result-wrap .ck-count li span {width: 5.6rem;}
}

@media (max-width: 1580px) {
    .ck-result-wrap .ck-count {gap: 0.6rem;}
    .ck-result-wrap .ck-count li span {font-size: 1.3rem;}
    .ck-result-wrap .ck-count strong {font-size: 1.5rem; line-height: 1.5rem;}
    .card-best {width: 220px; padding: 36px 26px;}
}

@media (max-width: 1420px) {
    .bs-col {justify-content: space-between;}
    .bs-items {flex-direction: column; gap: 2.2rem;}
    .bs-wrap.normal-user .bs-items {height: 363px;}
    .card-best {width: 100%; height: 104px; flex-direction: row; justify-content: space-between; align-items: flex-end; padding: 22px 36px; background-size: 26%; padding-right: 120px;}
    .card-title-wrap>span {width: auto;}
    .card-link {line-height: 22px;}
    .card-link::after {top: -2px;}
    .ck-result-wrap .ck-count {gap: 1.6rem;}
    .ck-result-wrap .ck-count li span {font-size: 1.5rem; width: 7rem;}
}

@media (max-width: 1280px) {
    .ck-result-wrap .ck-count {gap: 1.2rem;}
    .bs-wrap {margin: 59px 80px 44px;}
}

.bs-notice {display: flex; align-items: center; justify-content: space-between; padding: 20px 0; border-bottom: 1px solid #edeff4; font-size: 1.6rem; font-weight: 400; line-height: 18px;}
.bs-notice:hover .notice-title {text-decoration: underline;}
.notice-title img {margin-right: 5px;}
.notice-date {color: #878787;}
.bs-more a {display: flex; width: 26px; height: 26px; background: url(../images/main/ic_plus.svg) no-repeat;}
.bs-controller li {height: 2.2rem;}
.bs-controller li:first-child a {display: block; width: 30px; height: 22px; background: url(../images/main/ic_slider-pre.svg) no-repeat; background-size: contain;}
.bs-controller li:last-child a {display: block; width: 30px; height: 22px; background: url(../images/main/ic_slider-next.svg) no-repeat; background-size: contain;}
.bs-controller li span {color: #474a4d;}
.bs-confirm-wrap {display: flex; flex-direction: column; justify-content: flex-start; gap: 1.2rem; flex: 1;}
.bs-confirm {display: flex; justify-content: space-between; align-items: center; padding: 22px 32px; background: #f3f4fb; border-radius: 12px; border: 2px solid #fff; box-sizing: border-box;}
.bs-confirm:hover {background: #fff; border: 2px solid #3b52a6; box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.08);}
.bs-confirm:hover .confirm-title h5 {text-decoration: underline;}
.bs-confirm:hover .confirm-state {background: linear-gradient(135deg, #0A48C2 0%, #4DA9FF 100%);}
.bs-confirm:hover .confirm-state.notyet {background: linear-gradient(135deg, #0A48C2 0%, #4DA9FF 100%); color: #fff;}
.confirm-title {display: flex; flex-direction: column; gap: 12px; flex: 1;}
.confirm-title>div {display: flex; align-items: center; gap: 10px;}
.confirm-title .deadline {display: flex; align-items: center; justify-content: center; padding: 0 16px; height: 25px; color: #f83131; border: 1px solid #ef6161; border-radius: 15px; box-sizing: border-box; background: #fff6f6; font-size: 1.4rem; font-weight: 500; text-align: center; word-break: break-word;}
.confirm-title h5 {font-size: 1.8rem; font-weight: 600; line-height: 21px;}
.confirm-title.deadline h5 {width: calc(100% - 148px);}
.confirm-title ul {display: flex; align-items: center; justify-content: flex-start; gap: 16px;}
.confirm-title ul li p {font-weight: 500; display: inline-block;}
.confirm-title ul li span {color: #4a4b4d;}
.confirm-state {width: 66px; height: 66px; padding: 12px; word-break: keep-all; border-radius: 150px; background: #6c88c0; color: #fff; font-size: 1.4rem; font-weight: 500; display: flex; align-items: center; justify-content: center; text-align: center;}
.confirm-state.notyet {background: #e0e2ec; color: #757c90;}

@media (max-width: 1420px) {
    .bs-confirm {padding: 24px;}
    .confirm-title .deadline {height: 42px; border-radius: 22px; width: 86px;}
    .confirm-title ul li {font-size: 1.4rem;}
    .confirm-title ul {flex-direction: column; gap: 4px; align-items: flex-start;}
}

/* 플로팅 메뉴 */
.float-menu {position: fixed; top: 214px; right: -49px; display: flex; align-items: center; justify-content: center; gap: 12px; padding: 1.6rem 2rem; color: #fff; background: #3b3b45; border-radius: 0 0 20px 20px; font-weight: 500; font-size: 1.4rem; line-height: 1.4rem; transform: rotate(90deg);}
.float-menu img {width: 17px; height: 20px; display: block; transform: rotate(-90deg);}
.float-menu span {display: flex;}

@media (max-width: 1280px) {
    .float-menu {position: absolute; top: 47px; right: -106px;}
}