
/* 팝업 스타일 */
.popup-panel {position: fixed; top: 0; display: none; width: 100%; height: 100%; z-index: 9250;}
.popup-panel.is-active {display: block;}
.popup-bg {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .65; filter: alpha(opacity=65); z-index: 9998;}
.popup-content {overflow: hidden; display: block; padding: 5rem; position: absolute; border-radius: 10px; background-color: #fff; z-index: 10; box-shadow: 0px 4px 30px 10px rgba(0, 0, 0, 0.1); z-index: 9999;}
.popup-content-01 {top: calc((100vh - 80rem) / 2); left: calc((100% - 120rem) / 2); width: 120rem; height: 80rem;}
.popup-content-02 {top: 6vh; left: calc((100% - 120rem) / 2); width: 120rem; height: 88vh;}
.popup-content-03 {top: calc((100vh - 80rem) / 2); left: calc((100% - 60rem) / 2); width: 60rem; height: 80rem;}
.popup-content-04 {top: calc((100vh - 60rem) / 2); left: calc((100% - 85rem) / 2); width: 85rem; height: 60rem;}
.popup-content-05, .popup-content-06 {top: 10vh; left: 18vw; width: 64vw; height: 80vh;}
/* 공지사항 목록 */
.popup-content-05 .brd-search {flex-direction: column; gap: 10px;}
/* 조원관리 */
.popup-content-setMember {top: calc((100vh - 82rem) / 2); left: calc((100% - 120rem) / 2); width: 120rem; height: 82rem;} 
/* 활동이력 등록/수정 */
.popup-content-acthistoryAdd {top: calc((100vh - 66rem) / 2); left: calc((100% - 85rem) / 2); width: 85rem; height: 66rem;}
.popup-content-acthistoryEdit {top: calc((100vh - 83rem) / 2); left: calc((100% - 85rem) / 2); width: 85rem; height: 83rem;}
/* 분임조원 상세이력 */
.popup-content-memberView {top: 6vh; left: 18vw; width: 64vw; height: 88vh;}
/* 이벤트 대상자 추첨 */
.popup-content-eventDraw {top: 10vh; left: 10vw; width: 80vw; height: 80vh;}
/* 테마제안 수정 */
.popup-content-tmofEdit {top: calc((100vh - 84rem) / 2); left: calc((100% - 120rem) / 2); width: 120rem; height: 84rem;}
.popup-content-tmofAdd {top: 8vh; left: 18vw; width: 64vw; height: 84vh;}
.popup-content-tmofDetail {top: 8vh; left: 18vw; width: 64vw; height: 84vh;}
/* 검토요청 */
.popup-content-rqApprv {top: calc((100vh - 44rem) / 2); left: calc((100% - 66rem) / 2); width: 66rem; height: 44rem;}
/* 경진대회 */
.popup-content-ctsEdit {top: 10vh; left: calc((100% - 120rem) / 2); width: 120rem; height: 80vh;}
.popup-content-ctsofEdit {top: 16vh; left: calc((100% - 120rem) / 2); width: 120rem; height: 68vh;}
/* 경진대회 수상결과 */
.popup-content-rwdRegist {top: calc((100vh - 54rem) / 2); left: calc((100% - 66rem) / 2); width: 66rem; height: 54rem;}


@media (max-width: 1420px) {
    .popup-content-05, .popup-content-06 {top: 10vh; left: 12vw; width: 78vw; height: 80vh;}
    .popup-content-05 .brd-search-btn {margin-top: 0;}
    .popup-content-setMember {top: 18vh; left: 10vw; width: 80vw; height: 64vh;} 
    .popup-content-eventDraw {top: 10vh; left: 5vw; width: 90vw; height: 80vh;}
}
@media (max-width: 1280px) {
    .popup-content-setMember {top: 18vh; left: 8vw; width: 84vw; height: 64vh;} 
}
.popup-header {margin-bottom: 4rem; display: flex; align-items: center; justify-content: space-between;}
.popup-header h2 {font-size: 2.8rem; line-height: 3.2rem; font-weight: 600;}
.popup-header .close-button {display: block; width: 30px; height: 30px; background: url(../images/common/pop-close.svg) no-repeat; background-size: contain;}
.popup-body {height: calc(100% - 142px); overflow-y: auto;}
.popup-body .board-block:first-child {margin-top: 0;}
.popup-content-05 .popup-body {height: calc(100% - 72px);}
.popup-body::-webkit-scrollbar {width: 1em;}
.popup-body::-webkit-scrollbar-track {background: #ddd; border-radius: 1rem;}
.popup-body::-webkit-scrollbar-thumb {background-color: #bababa; border-radius: 1rem;}
.popup-btn-wrap .btn-wrap {justify-content: center; margin: 4rem 0;}
.popup-btn-wrap .btn-wrap input[type="button"] {width: 12rem; height: 40px; border-radius: 4px; transition: all ease 0.2s 0s;}

.pop-list {table-layout: fixed; box-sizing: border-box; border-collapse: collapse; width: 100%; margin: 0; font-size: 1.6rem; line-height: 1.2; border-spacing: 0; border-top: 2px solid #4f4f4f;}
.pop-list th {padding: 1.9rem 1rem; vertical-align: middle; font-weight: 600; text-align: center; position: relative; border-bottom: 1px solid #4f4f4f; text-wrap: nowrap;}
.pop-list th::before {content: ''; display: block; height: 18px; width: 1px; background: #e4e4e4; position: absolute; left: 0; top: calc(50% - 9px);}
.pop-list th:first-child:before {display: none;}
.pop-list tr {position:relative;}
.pop-list td {padding: 2rem 1rem; vertical-align: middle; text-align: center; font-size: 1.5rem; border-bottom: 1px solid #e8e8e8; word-break: break-all; color: #333333; line-height: 1.4;}
.pop-list th:first-child,
.pop-list td:first-child{border-left:none;}
.pop-list th:last-child,
.pop-list td:last-child{border-right:none;}
.pop-list tbody tr th {border-bottom: 1px solid #e8e8e8; background: #f6f6f9;}
.pop-list tbody tr:first-child th,
.pop-list tbody tr:first-child td {border-top:none;}
.pop-list tbody tr:hover {background: #fcfcfc;}
.pop-list tbody tr:hover p {text-decoration: underline; font-weight: 500;} 
.pop-list td .t-title {max-width: 720px; text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;}
.pop-list tbody tr.selectable.select {background: #EBF2FF;}
.popup-content select {min-width: 120px;}
/* 임시저장목록 */
.popup-content-01 .pop-list tbody td {cursor: pointer;}

/* 검토기준표 */
.popup-content-02 .pop-list tbody tr:hover {background: #fff;}
.popup-content-02 .pop-list tbody td {border-right: 1px solid #e8e8e8;}
.popup-content-02 .pop-list td.radio-type {text-align: left;}
.popup-content-02 .pop-list td.radio-type label {cursor: pointer; width: 100%; display: block;}
.popup-content-02 .pop-list td.radio-type label input[type="radio"] {margin: 0 8px;}
.popup-content-02 .pop-list.view-only td.radio-type label {cursor: default;}
.popup-content-02 .pop-list.view-only td.radio-type label input[type="radio"] {cursor: default;}

/* 부서찾기 */
.popup-content-03 .brd-search {padding: 2.4rem;}
.popup-content-03 .search-text input[type=text] {width: 100%; max-width: 100%;}
.parttree-wrap {border-radius: 6px; border: 1px solid #e8e8e8; padding: 2.4rem; flex: 1; overflow-y: scroll;}
.parttree-wrap::-webkit-scrollbar {width: 1em;}
.parttree-wrap::-webkit-scrollbar-track {background: #ddd; border-radius: 1rem;}
.parttree-wrap::-webkit-scrollbar-thumb {background-color: #bababa; border-radius: 1rem;}
.parttree-wrap li>a {border-bottom: 1px solid #e8e8e8;}
.parttree-wrap li>a:hover {background: #fcfcfc;}
.parttree-wrap>ul {border-top: 1px solid #e8e8e8;}
.parttree-wrap a { height: 4.8rem; width: 100%; display: flex; align-items: center; justify-content: flex-start;}
.parttree-wrap a>span {position: relative;}
.parttree-wrap a>span::after {position: absolute; content: ''; display: block; width: 20px; height: 20px; background-size: contain;}

.parttree-wrap .p1 a {padding-left: 40px;}
.parttree-wrap .p1>a>span::after {left: -28px; top: -1px;}
.parttree-wrap .p2 a {padding-left: 68px;}
.parttree-wrap .p2>a>span::after {left: -28px; top: -1px;}
.parttree-wrap .p3 a {padding-left: 96px;}
.parttree-wrap .p3>a>span::after {left: -28px; top: -1px;}
.parttree-wrap .p4 a {padding-left: 124px;}
.parttree-wrap .p4>a>span::after {left: -28px; top: 0px;}

.parttree-wrap li.choose>a {background: #EBF2FF;}
.parttree-wrap li.choose>a:hover {background: #EBF2FF;}
.parttree-wrap li.folder>a>span::after {background: url(../images/common/pop-tree-close.svg) no-repeat; background-size: contain;}
.parttree-wrap li.folder.open>a>span::after {background: url(../images/common/pop-tree-open.svg) no-repeat; background-size: contain;}
.parttree-wrap li.part>a>span::after {background: url(../images/common/pop-tree-normal.svg) no-repeat; background-size: contain;}
.parttree-wrap li.part.choose>a>span::after {background: url(../images/common/pop-tree-choose.svg) no-repeat; background-size: contain;}

/* 검토자 조회 */
.findperson-wrap {border-radius: 6px; border: 1px solid #e8e8e8; padding: 2.4rem; flex: 1; overflow-y: scroll;}
.findperson-wrap::-webkit-scrollbar {width: 1em;}
.findperson-wrap::-webkit-scrollbar-track {background: #ddd; border-radius: 1rem;}
.findperson-wrap::-webkit-scrollbar-thumb {background-color: #bababa; border-radius: 1rem;}
.findperson-wrap li>a {border-bottom: 1px solid #e8e8e8;}
.findperson-wrap li>a:hover {background: #fcfcfc;}
.findperson-wrap>ul {border-top: 1px solid #e8e8e8;}
.findperson-wrap a { height: 4.8rem; width: 100%; display: flex; align-items: center; justify-content: flex-start;}
.findperson-wrap a>span {position: relative;}
.findperson-wrap a>span::after {position: absolute; content: ''; display: block; width: 20px; height: 20px; background-size: contain;}

.findperson-wrap .f1 a {padding-left: 40px;}
.findperson-wrap .f1>a>span::after {left: -28px; top: -1px;}
.findperson-wrap .f2 a {padding-left: 68px;}
.findperson-wrap .f2>a>span::after {left: -28px; top: -1px;}
.findperson-wrap .f3 a {padding-left: 96px;}
.findperson-wrap .f3>a>span::after {left: -28px; top: -1px;}
.findperson-wrap .f4 a {padding-left: 124px;}
.findperson-wrap .f4>a>span::after {left: -28px; top: 0px;}
.findperson-wrap li.choose>a {background: #EBF2FF;}
.findperson-wrap li.choose>a:hover {background: #EBF2FF;}

.findperson-wrap li.folder>a>span::after {background: url(../images/common/pop-tree-close.svg) no-repeat; background-size: contain;}
.findperson-wrap li.folder.open>a>span::after {background: url(../images/common/pop-tree-open.svg) no-repeat; background-size: contain;}
.findperson-wrap li.person>a>span::after {background: url(../images/common/pop-tree-normal.svg) no-repeat; background-size: contain;}
.findperson-wrap li.person.choose>a>span::after {background: url(../images/common/pop-tree-choose.svg) no-repeat; background-size: contain;}

/* 그룹코드 등록/수정 */
.board-table.popup {width: 100%; border-top: 1px solid #4f4f4f;}
.board-table.popup input[type="text"] {width: 100%; border: 1px solid #e9e9ec;}

/* 조원관리 */
.btn-addmb {height: 40px; color: #6c7282; border: 1px solid #e9e9ec; padding: 0 3.9rem 0 2.4rem; background: #f8f8f8 url(../images/button/btn_addmember.svg) no-repeat 59px 15px;}
.btn-addmb.active {background: #fff; color: #3653B7; border: 1px solid #3653B7; padding: 0 3.9rem 0 2.4rem; background: #fff url(../images/button/btn_addmember-active.svg) no-repeat 59px 15px;}
.btn-addmb.active:hover {background: #3653B7 url(../images/button/btn_addmember-hover.svg) no-repeat 59px 15px; color: #fff;}
.btn-deltable {font-size: 0; width: 24px; height: 24px; padding: 0; background: url(../images/button/btn_del-table.svg) no-repeat; border: none; background-size: cover; vertical-align: middle;}
.btn-wrap input[type="button"].btn-addmb {height: 40px;}
.popup-content-setMember #searchTxt {width: 220px;}
.popup-content-setMember .popup-body>.flex-bt {gap: 20px; align-items: flex-start;}
.popup-content-setMember .btn-wrap.center {align-self: stretch;}
.popup-content-setMember .findperson-wrap {flex: none; height: 446px;}
.popup-content-setMember .inner-table-wrap.popup {flex: 1; border: none; border-radius: none; border-bottom: 1px solid #E3E9EF; align-self: stretch;}
.popup-content-setMember .inner-table-wrap.popup table {border-top: 2px solid #3653B7;}
.popup-content-setMember .inner-table-wrap.popup tr th {background: #f6f8ff; font-size: 1.6rem; vertical-align: middle; font-weight: 600; text-align: center; border-bottom: 1px solid #E3E9EF; border-right: 1px solid #E3E9EF; text-wrap: nowrap;}
.popup-content-setMember .inner-table-wrap.popup tr th, .popup-content-setMember .inner-table-wrap.popup tr td {line-height: 1.5rem; padding: 2rem 1rem; vertical-align: middle; text-align: center; border-bottom: 1px solid #E3E9EF; border-right: 1px solid #E3E9EF;}
.popup-content-setMember .inner-table-wrap.popup tr th:first-child {border-left: none;}
.popup-content-setMember .inner-table-wrap.popup tr td:first-child {border-left: none;}
.popup-content-setMember .inner-table-wrap.popup tr th:last-child {border-right: none;}
.popup-content-setMember .inner-table-wrap.popup tr td:last-child {border-right: none;}
.popup-content-setMember .inner-table-wrap.popup tr th:last-child.border1 {border-right: 1px solid #E3E9EF;}
.popup-content-setMember .inner-table-wrap.popup tr td:last-child.border1 {border-right: 1px solid #E3E9EF;}
.popup-content-setMember .inner-table tr {height: 52px;}
.popup-content-setMember .inner-table tr th {padding: 1rem;}
.popup-content-setMember .inner-table tr td {padding: 1.4rem 1rem; line-height: 2.2rem;}
/* 활동이력 */
.popup-content .search-date {display: flex; align-items: center;}
.popup-content .file-upload .btn-searchfile {margin: 0 0 0 8px;}
.popup-content td.check-type label {display: flex; align-items: center;}
.popup-content td.check-type label input[type="checkbox"] {margin: 10px 10px 10px 0;}


.popup-content-rwdRegist .check-type label {height: 40px;}


@media (max-width: 1280px) {
    .popup-content-setMember .brd-search {padding: 2rem;}
    .popup-content-setMember #searchTxt {width: 180px;}
}