@charset "utf-8";
@import url(fonts.css);

/* 레프트 메뉴 */
#sub-gnb-wrap {width: 300px; background: #f6f7fb; min-height: calc(100vh - 80px); padding: 5.2rem 3rem;}
.one-depth {display: flex; flex-direction: column; align-items: center;}
.one-depth .d1 {padding: 1px;}
.one-depth .d1>a {position: relative; width: 240px; height: 54px; color: #465569; padding: 0 20px 0 58px; font-size: 1.6rem; font-weight: 500; display: flex; align-items: center; background: transparent url(../images/common/depth-arrow-normal.svg) no-repeat calc(100% - 20px) center; box-sizing: border-box; border: 1px solid #f6f7fb;}
.one-depth .d1.active>a {background: #fff url(../images/common/depth-arrow-active.svg) no-repeat calc(100% - 20px) center; color: #3b4eba; border: 1px solid #3b4eba; border-radius: 6px;}
.one-depth .d1>a:hover {background: #fff url(../images/common/depth-arrow-active.svg) no-repeat calc(100% - 20px) center; color: #3b4eba; border: 1px solid #3b4eba; border-radius: 6px;}
.one-depth .d1>a::before {width: 24px; height: 24px; content: ''; display: block; left: 20px; top: 15px; position: absolute; background-size: contain;}
.one-depth .d1:first-child>a::before {background: url(../images/common/side01-normal.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(2)>a::before {background: url(../images/common/side02-normal.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(3)>a::before {background: url(../images/common/side03-normal.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(4)>a::before {background: url(../images/common/side04-normal.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(5)>a::before {background: url(../images/common/side05-normal.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(6)>a::before {background: url(../images/common/side06-normal.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(7)>a::before {background: url(../images/common/side07-normal.svg) no-repeat; background-size: contain;}
.one-depth .d1:first-child>a:hover::before {background: url(../images/common/side01-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(2)>a:hover::before {background: url(../images/common/side02-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(3)>a:hover::before {background: url(../images/common/side03-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(4)>a:hover::before {background: url(../images/common/side04-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(5)>a:hover::before {background: url(../images/common/side05-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(6)>a:hover::before {background: url(../images/common/side06-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(7)>a:hover::before {background: url(../images/common/side07-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:first-child>a::before {background: url(../images/common/side01-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(2)>a::before {background: url(../images/common/side02-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(3)>a::before {background: url(../images/common/side03-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(4)>a::before {background: url(../images/common/side04-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(5)>a::before {background: url(../images/common/side05-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(6)>a::before {background: url(../images/common/side06-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(7)>a::before {background: url(../images/common/side07-active.svg) no-repeat; background-size: contain;}
.one-depth .d1 .two-depth {display: none;}
.one-depth .d1.active .two-depth {display: block;}
.two-depth {padding: 9px 0 18px 0;}
.two-depth li a {width: 100%; display: block; height: 35px; line-height: 35px; color: #666C75; padding: 0 20px 0 56px;}
.two-depth li a:hover {background: #ecedf3; border-radius: 6px; color: #1c1d1f;}
.two-depth li.focus a {text-decoration: underline; color: #3b4eba; font-weight: 600;}
.regist-card {display: flex; align-items: center; width: 100%; height: 7.2rem; margin-top: 4rem; background-size: contain; background: url(../images/common/bg_regist-link.svg) no-repeat; border-radius: 6px; overflow: hidden;}
.gt-regist {position: relative; width: 100%; display: flex; align-items: center; font-size: 1.6rem; color: #fff; font-weight: 600; font-family: 'GmarketSans', 'Pretendard', "NotoSansKR", sans-serif; padding: 0 2.4rem; height: 7.2rem;}
.gt-regist::after {position: absolute; top: 24px; right: 16px; background: url(../images/common/iconArrowRight.svg) no-repeat; background-size: contain; width: 24px; height: 24px; content: ''; display: block;}
.gt-regist span {position: relative; display: block; margin-top: 4px;}
.gt-regist span::before {position: absolute; top: -10px; right: -12px; background: url(../images/common/ic_regist-txt.svg) no-repeat; background-size: contain; width: 12px; height: 12px; content: ''; display: block;}


.sub-content-wrap {width: calc(100% - 300px); margin: 26px 70px 34px;}
.menu-nav {display: flex; align-items: center; justify-content: flex-end; gap: 8px; color: #666; font-weight: 300; margin-bottom: 1.8rem;}
.menu-nav li:last-child {font-weight: 500; color: #1c1d1f;}
.h2-tit {font-weight: bold; font-size: 3.2rem; margin-bottom: 3.6rem; line-height: 3.2rem;}

/* 게시판 검색 */
.brd-wrap {position: relative;}
.brd-search {display: flex; justify-content: space-between; width: 100%; margin-bottom: 3rem; background: #f6f6f9; border-radius: 6px; border: 1px solid #eff1f5; padding: 3rem 4rem;}
.brd-search-form {flex: 1;}
.brd-search-btn {display: flex; align-items: flex-end; justify-content: flex-end;}
.brd-search .search-section {display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; gap: 10px;}
.brd-search .search-section:last-child {margin: 0;}
.brd-search .search-section p {color: #222; font-weight: 500; font-size: 1.6rem; min-width: 90px;}
.brd-search input[type=text]::placeholder {color: #a2a2a2;}
.brd-search select {min-width: 160px; padding: 0.8rem 3.8rem 0.8rem 1.3rem; margin: 0 0.6rem 0 0; background-color: #fff; font-size: 1.4rem; border: 1px solid #e9e9ec;}
.search-section > div {margin-right: 5rem; display: flex; justify-content: flex-start; align-items: center;}
.search-section > div:last-child {margin-right: 0;}
.search-date input[type=text] {background: #ffffff url(../images/board/ic_cal.svg) no-repeat calc(100% - 0.8rem) 52%/14px auto; background-size: 22px; position: relative; width: 160px; padding: 1rem 4rem 1rem 1rem; margin: 0; font-size: 1.4rem;}
.search-date input[type=text]::placeholder {color: #a2a2a2;}
.search-date > span {margin: 0 0.8rem; color: #333; font-size: 1.6rem; font-weight: 400;}
.search-radio label {font-size: 1.4rem; margin-left: 0.8rem; margin-right: 1.6rem;}
.search-text {width: 100%;}
.search-text input[type=text] {width: 485px; max-width: 44%; margin: 0; font-size: 1.4rem;}
.board-note-wrap {margin-bottom: 3rem; margin-left: 6px;}
.board-note-wrap p {line-height: 2.4rem; font-size: 1.4rem;}
.board-note-wrap span {color: #e14242;}
.search-select.typeSelect {display: flex; align-items: center; gap: 6rem;}

/* 게시판 정보 */
.brd-info {display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 1.6rem;}
.brd-num {display: flex; align-items: center; font-size: 1.4rem;}
.brd-num li:first-child::after {display: inline-block; content: ''; height: 12px; width: 1px; background: #999; margin: 0 10px;}

.brd-list-01 {table-layout: fixed; box-sizing: border-box; border-collapse: collapse; width: 100%; margin: 0; font-size: 1.6rem; line-height: 1.2; border-spacing: 0; border-top: 2px solid #4f4f4f;}
.brd-list-01 th {padding: 1.9rem 1rem; vertical-align: middle; font-weight: 600; text-align: center; position: relative; border-bottom: 1px solid #4f4f4f; text-wrap: nowrap;}
.brd-list-01 th::before {content: ''; display: block; height: 18px; width: 1px; background: #e4e4e4; position: absolute; left: 0; top: calc(50% - 9px);}
.brd-list-01 th:first-child:before {display: none;}
.brd-list-01 tr {position:relative;}
.brd-list-01 tr.overdue td {color: #e14242;}
.brd-list-01 td.o-day>div {background: #fbecec; border-radius: 4px; display: flex; align-items: center; justify-content: center; width: fit-content; height: 29px; margin: 0 auto; padding: 0 24px;}
.brd-list-01 td {cursor: pointer; padding: 2rem 1rem; vertical-align: middle; text-align: center; font-size: 1.5rem; border-bottom: 1px solid #e8e8e8; word-break: break-all; color: #333333; line-height: 1.4;}
.brd-list-01 th:first-child,
.brd-list-01 td:first-child{border-left:none;}
.brd-list-01 th:last-child,
.brd-list-01 td:last-child{border-right:none;}
.brd-list-01 tbody tr:first-child th,
.brd-list-01 tbody tr:first-child td {border-top:none;}
.brd-list-01 tbody tr:hover {background: #fcfcfc;}
.brd-list-01 tbody tr:hover p {text-decoration: underline; font-weight: 500;} 
.brd-list-01 td .t-title {max-width: 720px; text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;}
.brd-list-01 td.st-level {color: #232323; font-size: 1.4rem;}
.brd-list-01 td.st-level>div {background: #e4e4e4; border-radius: 4px; display: flex; align-items: center; justify-content: center; width: 90px; height: 29px; margin: 0 auto;}
.brd-list-01 td.st-level.st01>div {background: #e6ecf2;}/*사전검토중*/
.brd-list-01 td.st-level.st02>div {background: #fbecec;}/*접수중*/
.brd-list-01 td.st-level.st03>div {background: #fff4de;}/*검토중*/
.brd-list-01 td.st-level.st04>div {background: #f3efff;}/*검토승인중*/
.brd-list-01 td.st-level.st05>div {background: #ebf2ff;}/*계획등록중*/
.brd-list-01 td.st-level.st06>div {background: #ebf6eb;}/*결과등록중*/
.brd-list-01 td.st-level.st07>div {background: #e4f8fd;}/*심의중*/
.brd-list-01 td.st-level.st08>div {background: #ffeddf;}/*자료보완*/
.brd-list-01 td.st-level.st09>div {background: #e9e9e9;}/*종료*/

.brd-footnote {margin: 2.2rem 0 0;}
.brd-footnote ul {width: 100%; display: flex; justify-content: flex-end; gap: 20px;}
.brd-footnote ul li {color: #777989; font-size: 1.2rem; display: flex; align-items: center; justify-content: flex-start; gap: 6px;}
.brd-footnote ul li .fn-num {width: 1.6rem; height: 1.6rem; font-weight: 500; color: #fff; background: #afb2be; display: flex; align-items: center; justify-content: center; text-align: center; border-radius: 8px;}

/* 페이지네이션 */
.pagination { margin: 2.2rem 0 0 0; text-align: center; clear:both; }
.pagination a {color:#767676; display:inline-block; margin:2px; width:3.2rem; height:3.2rem; text-align:center; font-size:1.4rem; line-height:3.2rem; vertical-align:middle; border-radius: 4px;}
.pagination a.on {color:#ffffff; background:#43464C; display:inline-block; margin:2px; width: 3.2rem;  height: 3.2rem; text-align: center; font-size: 1.4rem; line-height:3.2rem; border-radius: 4px; vertical-align: middle;}
.pagination a:hover {background: #f1f1f1; transition: all ease 0.2s 0s;}
.pagination a.on:hover {color:#ffffff; background:#43464C;}
.pagination .prev-group {margin-right:6px;}
.pagination .next-group {margin-left:6px;}
.pagination .prev-group a,
.pagination .next-group a {width:30px; height:40px; background:url(../images/board/pagination_arrow.svg) no-repeat; margin:0; opacity: 0.7;}
.pagination .prev-group a:hover,
.pagination .next-group a:hover { transition: all ease 0.2s 0s; opacity: 1;}
.pagination .prev-group a.page-first {background-position:8px 12px;}
.pagination .prev-group a.page-prev {background-position:-37px 12px;}
.pagination .next-group a.page-end {background-position:-128px 12px;}
.pagination .next-group a.page-next {background-position:-81px 12px;}

/* 상세페이지 */
.dt-wrap {display: flex; align-items: center; justify-content: space-between; padding-bottom: 23px; margin-bottom: 23px; border-bottom: 1px solid #4f4f4f;}
.dt-wrap .h2-tit {margin-bottom: 0;}

.sub-content-inner {width: 100%; padding-top: 7px;}
.board-block {width: 100%; margin-top: 4rem;}
.board-block.fold .board-list {display: none;}
.sub-content-inner .board-block:first-child {margin-top: 0;}
.board-title {width: 100%; padding: 1rem 0; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #4f4f4f;}
.board-title.caution {width: 100%; padding: 1rem 0; display: flex; align-items: flex-start; justify-content: space-between; border-bottom: 1px solid #4f4f4f;}
.board-title.caution>div {display: flex; flex-direction: column; align-items: flex-start;}
.board-title.caution .caution-txt {margin: 1.6rem 0 0;}
.board-title.noborder {border-bottom: none;}
.h4-tit {font-size: 2.2rem; line-height: 2.2rem; font-weight: 600;}

.board-list {padding-bottom: 1.2rem;}
.board-list .stepbox {background: #e4e4e4; border-radius: 4px; display: flex; align-items: center; justify-content: center; width: 90px; height: 29px;}
.board-list .stepbox.step01 {background: #e6ecf2;}/*사전검토중*/
.board-list .stepbox.step02 {background: #fbecec;}/*접수중*/
.board-list .stepbox.step03 {background: #fff4de;}/*검토중*/
.board-list .stepbox.step04 {background: #f3efff;}/*검토승인중*/
.board-list .stepbox.step05 {background: #ebf2ff;}/*계획등록중*/
.board-list .stepbox.step06 {background: #ebf6eb;}/*결과등록중*/
.board-list .stepbox.step07 {background: #e4f8fd;}/*심의중*/
.board-list .stepbox.step08 {background: #ffeddf;}/*자료보완*/
.board-list .stepbox.step09 {background: #e9e9e9;}/*종료*/

/* 상세 테이블 */
.board-table {width: 100%;}
.board-table th {background: #f6f6f9; border-bottom: 1px solid #e8e8e8; padding: 2rem; color: #333; font-size: 1.5rem; line-height: 1.5rem; font-weight: 500; text-align: center; word-break: keep-all;}
.board-table td {padding: 1rem 2rem; border-bottom: 1px solid #e8e8e8;}
.board-table td select {padding: 0 40px 0 14px; display: inline-block;}
.board-table td p {line-height: 2.4rem;}
.board-table td input[type="radio"] {margin-right: 6px;}
.board-table td input[type="checkbox"] {margin-right: 6px;}
.board-table td input[type="checkbox"]+label {cursor: pointer;}
.board-table td.radio-type label {margin-right: 20px; cursor: pointer;}
.board-table td.radio-type input[type="radio"]:disabled {cursor: default; opacity: 1;}
.board-table td.radio-type.readonly label {cursor: text;}
.board-table td.radio-type.readonly input[type="radio"] {cursor: default;}
.board-table td input[type="text"]:read-only {background: #efeff2;}
.board-table td input[type="text"]:read-only:focus {outline: none;}
.board-table td.file-download .att-file {margin-top: 1rem;}
.board-table td.file-upload input[type="text"]:read-only {background: #fff; min-width: 46rem;}
.board-table td.file-upload input[type="text"]:read-only:focus {outline: none;}
.board-table td .num-type {display: flex; align-items: center; gap: 8px;}
.board-table td .num-type input[type="text"] {width: 6.8rem; text-align: center;}
.board-table td .num-type input[type="text"]:first-child {width: 5.8rem;}
.board-table tr.longtxt {height: 12rem;}
.board-table tr.longtxt td {padding: 1.6rem 2rem;}
.board-table td select.l-select {min-width: 316px;}
.board-table td select.m-select {min-width: 200px;}
.board-table td select.s-select {min-width: 95px;}
.info-txt {margin-top: 0.8rem; font-size: 1.4rem; color: #999999; word-break: keep-all;}
.rq-mark {display: inline-block; margin-right: 0.4rem; color: #cd3839;}
.board-table textarea {padding: 1rem 1.4rem;}
.board-table textarea.h20 {height: 20rem;}
.board-table textarea.h15 {height: 15rem;}
.board-table textarea.h10 {height: 10rem;}
.board-table th.lh20 {line-height: 2rem; border-right: 1px solid #e8e8e8;}
.att-file {margin: 1.6rem 0 1rem; display: flex; flex-direction: column; align-items: flex-start; gap: 1.6rem;}
.att-file li {position: relative; padding-left: 23px; height: 18px;}
.att-file li::before {position: absolute; left: 0; top: 0; width: 15px; height: 18px; background: url(../images/board/ic_attfile.svg) no-repeat; content: ''; display: block;}
.att-file li span {color: #a4a4a4; font-size: 1.3rem;}
.board-note {display: flex; flex-direction: column; margin-top: 3.6rem;}
.board-note>p {color: #cd3839; font-weight: 600; font-size: 1.6rem; line-height: 1.6rem; position: relative; padding-left: 30px;}
.board-note>p::before {position: absolute; left: 6px; top: 0; background: url(../images/board/ic_exclamation.svg) no-repeat; width: 16px; height: 16px; display: block; content: '';}
.note-list {display: flex; flex-direction: column; background: #F6F6F9; border-radius: 0.6rem; padding: 2rem 4.5rem; margin-top: 1.6rem;}
.note-list li {height: 2.8rem; line-height: 2.8rem; list-style-type: disc;}
.bg-box {background: #F6F6F9; border-radius: 0.6rem; margin-top: 1.6rem;}
/* 코멘트 영역 스타일 */
.comment-box {display: flex; flex-direction: column; padding: 3rem; margin-top: 1.8rem;}
.comment-box>p {margin-top: 1rem; font-size: 1.4rem; color: #6c7078;}
.comment-input {display: flex; gap: 0.8rem;}
.cmt-input {flex: 1;}
.cmt-input input[type="text"] {width: 100%;}
.comment-history {display: flex; flex-direction: column; gap: 1.8rem; margin: 1.8rem 0;}
.comment-item {border-top: 1px solid #e3e3e7; border-bottom: 1px solid #e3e3e7; padding: 3rem 3rem 2.4rem; display: flex; flex-direction: column;}
.cmt-info {display: flex; align-items: center; gap: 1.3rem; padding-bottom: 1.6rem; border-bottom: 1px dashed #e9e9e9;}
.cmt-person {display: flex; align-items: center; gap: 0.7rem;}
.cmt-person span {font-weight: 500; line-height: 1.5rem;}
.cmt-time span {color: #b6b7b8; line-height: 1.5rem;}
.cmt-text {padding-top: 1.6rem; font-size: 1.6rem; line-height: 2.5rem;}

.board-btn-wrap {margin: 6rem 0;}
.board-btn-wrap .btn-wrap {justify-content: center;}
.board-btn-wrap .btn-wrap.end {justify-content: flex-end;}
.board-btn-wrap .btn-wrap input[type="button"] {width: 10rem; height: 40px; border-radius: 4px; transition: all ease 0.2s 0s;}

/* 상세 테이블 내부 테이블 */
.board-table td.add-type {padding: 0;}
.board-table td.add-type .add-tr {padding: 1rem 2rem; border-top: 1px solid #e8e8e8;}
.board-table td.add-type .add-tr:first-child {padding: 1rem 2rem; border-top: none;}
.board-table .in-tr {display: grid; align-items: center; grid-template-columns: 1fr 110px;}
.in-header, .in-body {display: flex;}
.in-header {border-radius: 4px 4px 0 0; border: 1px solid #dbdbdb; border-bottom: none; background: #f6f6f9; box-sizing: border-box;}
.in-header .in-header-th {display: flex; height: 4.8rem; align-items: center; justify-content: center; font-weight: 500;}
.in-header .in-header-th:nth-child(1) {flex: 1; border-right: 1px solid #dbdbdb;}
.in-header .in-header-th:nth-child(2) {flex: 2; border-right: 1px solid #dbdbdb;}
.in-header .in-header-th:nth-child(3) {flex: 2;}
.in-body {border-radius: 0 0 4px 4px; border: 1px solid #dbdbdb; box-sizing: border-box;}
.in-body .in-body-td {display: flex;}
.in-body .in-body-td:nth-child(1) {flex: 1; border-right: 1px solid #dbdbdb;}
.in-body .in-body-td:nth-child(2) {flex: 2; border-right: 1px solid #dbdbdb;}
.in-body .in-body-td:nth-child(3) {flex: 2;}
.in-body-td textarea {border-radius: 4px; border: none;}
.in-body-btn, .in-header-btn {margin-left: 1rem;}
.in-body-btn input[type=button], .in-header-btn input[type=button] {width: 100px; height: 40px; border-radius: 4px;}

/* input */
input, select, button {margin: 0; font-family: inherit; font-size: inherit; color: inherit; height: 4rem; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input[type=submit], input[type=button] {cursor: pointer;}
input {padding: 0.8rem 1.3rem 0.8rem 1.3rem; margin: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border: 1px solid #e9e9ec;}
input[type="checkbox"], input[type="radio"] {cursor: pointer; vertical-align: middle; width: 2rem; height: 2rem; margin: 0; opacity: .3; -webkit-appearance: auto;}
input[type="checkbox"]:checked, input[type="radio"]:checked {opacity: 1; accent-color: #242424;}
select {text-transform: none; display: block; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background: url(../images/common/select-arrow.svg) no-repeat calc(100% - 1.2rem) 52%/12px auto; border: 1px solid #dedede;}
button, input[type=button] {transition: all ease 0.2s 0s;}
textarea {position: relative; resize: none; background-color: #ffffff; line-height: 2.4rem; width: 100%; display: inline-block; margin: 0; box-sizing: border-box; vertical-align: middle; border: 1px solid #dbdbdb; border-radius: 4px; font-size: 1.5rem;}
textarea::-webkit-scrollbar {width: 1em;}
textarea::-webkit-scrollbar-track {background: #ddd; border-radius: 1rem;}
textarea::-webkit-scrollbar-thumb {background-color: #bababa; border-radius: 1rem;}
.typeLabel {display: flex; align-items: center; gap: 8px; cursor: pointer;}
.typeLabel input[type="radio"]:checked {opacity: 1; accent-color: #3b4eba;}

/* Button */
.btn-title {display: flex; justify-content: space-between; align-items: center; margin-bottom: 3.6rem;}
.btn-title .h2-tit {margin-bottom: 0;}
.btn-wrap {display: flex; gap: 10px; justify-content: space-between; align-items: center;}
.btn-wrap input[type="button"] {height: 38px; border-radius: 4px; display: flex; align-items: center; justify-content: center;}
.search-text .btn-searchpart {background: #6c7282; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem; margin: 0 0.6rem;}
.search-text .btn-searchpart:hover {background: #4a5369; transition: all ease 0.2s 0s;}

.brd-search-btn input[type=button] {height: 4rem; border-radius: 4px; display: flex; align-items: center; justify-content: center;} 
.btn-search {background: #325bc4 url(../images/board/ic_search.svg) no-repeat 26px 13px; color: #ffffff; border: none; padding: 0 26px 0 47.5px; font-size: 1.4rem; margin: 0 0.6rem; display: flex;}
.btn-search:hover {background: #1C44AA url(../images/board/ic_search.svg) no-repeat 26px 13px;; transition: all ease 0.2s 0s;}
.btn-reset {background: #fff url(../images/board/ic_reset.svg) no-repeat 20px 13px; background-size: 14px; border: 1px solid #325bc4; color: #325bc4; padding: 0 20px 0 41.5px; font-size: 1.4rem; font-weight: 500; margin: 0 0.6rem; display: flex;}
.btn-reset:hover {background: #325bc4 url(../images/board/ic_reset-hover.svg) no-repeat 20px 13px; background-size: 14px; color: #fff; transition: all ease 0.2s 0s;}
.btn-excel {display: flex; height: 38px; line-height: 1.5rem; border-radius: 4px; border: 1px solid #0d7038; color: #41a074; font-weight: 500; padding: 0 2rem 0 4.3rem; font-size: 1.4rem; background: #fff url(../images/board/ic_excel.svg) no-repeat 20px 11.5px;}
.btn-excel:hover {background: #0d7038 url(../images/board/ic_excel.svg) no-repeat 20px 11.5px; color: #fff;}
.btn-print {background: #fff url(../images/button/ic_print.svg) no-repeat 21px 12px; color: #535B63; border: 1px solid #535b63; padding: 0 20px 0 41px; font-size: 1.4rem; font-weight: 500;}
.btn-print:hover {background: #535B63 url(../images/button/ic_print-hover.svg) no-repeat 21px 12px; color: #fff; border: 1px solid #535b63;}
.btn-sheet {background: #fff url(../images/button/ic_sheet.svg) no-repeat 21px 12px; color: #3B4EBA; border: 1px solid #3b4eba; padding: 0 20px 0 41px; font-size: 1.4rem; font-weight: 500;}
.btn-sheet:hover {background: #3B4EBA url(../images/button/ic_sheet-hover.svg) no-repeat 21px 12px; color: #fff; border: 1px solid #3b4eba;}
.btn-temporlist {background: #fff url(../images/button/ic_temporlist.svg) no-repeat 21px 12px; color: #3B4EBA; border: 1px solid #3b4eba; padding: 0 20px 0 41px; font-size: 1.4rem; font-weight: 500;}
.btn-temporlist:hover {background: #3B4EBA url(../images/button/ic_temporlist-hover.svg) no-repeat 21px 12px; color: #fff; border: 1px solid #3b4eba;}
.btn-accordion {display: block; width: 32px; height: 32px; border-radius: 4px; background: #fff url(../images/button/ic_accordion.svg) no-repeat; background-size: contain; border: 1px solid #333;}
.btn-accordion.fold {transform: rotate(-180deg);}
.btn-searchpart {background: #6c7282; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem; margin: 0 0.4rem;}
.btn-searchpart:hover {background: #4a5369; transition: all ease 0.2s 0s;}
.btn-searchfile {background: #6c7282; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem; margin: 0 0.4rem;}
.btn-searchfile:hover {background: #4a5369; transition: all ease 0.2s 0s;}
.btn-searchperson {background: #6c7282; color: #ffffff; border: none; padding: 1rem 4rem; font-size: 1.4rem; margin: 0 0.4rem;}
.btn-searchperson:hover {background: #4a5369; transition: all ease 0.2s 0s;}
.btn-searchrule {background: #6c7282; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem; margin: 0 0.4rem;}
.btn-searchrule:hover {background: #4a5369; transition: all ease 0.2s 0s;}
.btn-temporary {background: #8591a3; color: #fff;}
.btn-temporary:hover {background: #6c7282;}
.btn-listview {background: #8591a3; color: #fff;}
.btn-listview:hover {background: #6c7282;}
.btn-regist {background: #325bc4; color: #fff;}
.btn-regist:hover {background: #1c44aa;}
.btn-add-tr {background: #325bc4; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem;}
.btn-add-tr:hover {background: #1C44AA; transition: all ease 0.2s 0s;}
.btn-del-tr {background: #6c7282; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem;}
.btn-del-tr:hover {background: #4a5369; transition: all ease 0.2s 0s;}
.btn-new {height: 40px; border-radius: 4px; background: #325bc4 url(../images/button/btn_new.svg) no-repeat 20px 12px; color: #ffffff; border: none; padding: 1rem 2.4rem 1rem 3.9rem; font-size: 1.5rem; line-height: 1.9rem;}
.btn-new:hover {background: #1C44AA url(../images/button/btn_new.svg) no-repeat 20px 12px; transition: all ease 0.2s 0s;}
.btn-download {background: #6c7282 url(../images/button/ic_alldown.svg) no-repeat 21px 13px; color: #ffffff; border: none; padding: 1rem 2rem 1rem 4.4rem; font-size: 1.4rem;}
.btn-download:hover {background: #4a5369 url(../images/button/ic_alldown.svg) no-repeat 21px 13px; transition: all ease 0.2s 0s;}
.btn-comment {background: #54555c; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem; margin: 0 0.4rem;}
.btn-comment:hover {background: #42444d; transition: all ease 0.2s 0s;}
.btn-delete {background: #8591a3; color: #fff;}
.btn-delete:hover {background: #6c7282;}
.btn-transfer {background: #fff; color: #325bc4; border: 1px solid #325bc4; padding: 0 2rem; font-size: 1.4rem; font-weight: 500;}
.btn-transfer:hover {background: #325bc4; color: #fff; border: 1px solid #325bc4;}
.btn-confirm {background: #325bc4; color: #fff;}
.btn-confirm:hover {background: #1c44aa;}
.btn-save {background: #325bc4; color: #fff;}
.btn-save:hover {background: #1c44aa;}



@media (max-width: 1660px) {
    #sub-gnb-wrap {width: 240px;}
    .one-depth .d1>a {width: 220px;}
    .sub-content-wrap {width: calc(100% - 240px); margin: 26px 40px 34px;}
    .search-section > div.search-date {width: 100%;}
    .regist-card {width: 20rem;}
    .gt-regist {padding-right: 5rem; word-break: auto-phrase;}
    .gt-regist span::before {display: none;}
}

@media (max-width: 1440px) {
    .one-depth .d1>a {width: 200px;}
    .brd-search {flex-direction: column;}
    .brd-search-btn {margin-top: 3rem;}
    .brd-search-btn input[type="button"]:last-child {margin: 0 0 0 0.6rem;}
    .search-text input[type=text] {max-width: unset;}
}

@media (max-width: 1280px) {
    .sub-content-wrap {width: 972px; margin: 26px 34px 34px;}
    .search-text .btn-searchpart {margin: 0 0 0 0.6rem;}
}