@charset "utf-8";
@import url(fonts.css);

/* 레프트 메뉴 - 원안*/
#sub-gnb-wrap {background: #4e6bca; width: 300px; min-height: calc(100vh - 80px); padding: 5.2rem 3rem;}
.one-depth {display: flex; flex-direction: column; align-items: center;}
.one-depth .d1 {padding: 1px;}
.one-depth .d1>a {color: #fff; position: relative; width: 240px; height: 54px; padding: 0 20px 0 58px; font-size: 1.6rem; font-weight: 500; display: flex; align-items: center; background: transparent url(../images/common/depth-arrow-normal.svg) no-repeat calc(100% - 20px) center; box-sizing: border-box; border: 1px solid transparent;}
.one-depth .d1>a:hover {color: #405DBC; background: #fff url(../images/common/depth-arrow-active.svg) no-repeat calc(100% - 20px) center; border: 1px solid transparent; border-radius: 6px;}
.one-depth .d1.active>a {border: 1px solid transparent; color: #405DBC; background: #fff url(../images/common/depth-arrow-active.svg) no-repeat calc(100% - 20px) center; border-radius: 6px;}
.one-depth .d1>a:before {width: 24px; height: 24px; content: ''; display: block; left: 20px; top: 15px; position: absolute; background-size: contain;}
.one-depth .d1:first-child>a:before {background: url(../images/common/side01-white.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(2)>a:before {background: url(../images/common/side02-white.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(3)>a:before {background: url(../images/common/side03-white.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(4)>a:before {background: url(../images/common/side04-white.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(5)>a:before {background: url(../images/common/side05-white.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(6)>a:before {background: url(../images/common/side06-white.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(7)>a:before {background: url(../images/common/side07-white.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(8)>a:before {background: url(../images/common/side08-white.svg) no-repeat; background-size: contain;}
.one-depth .d1:first-child>a:hover:before {background: url(../images/common/side01-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(2)>a:hover:before {background: url(../images/common/side02-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(3)>a:hover:before {background: url(../images/common/side03-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(4)>a:hover:before {background: url(../images/common/side04-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(5)>a:hover:before {background: url(../images/common/side05-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(6)>a:hover:before {background: url(../images/common/side06-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(7)>a:hover:before {background: url(../images/common/side07-active.svg) no-repeat; background-size: contain;}
.one-depth .d1:nth-child(8)>a:hover:before {background: url(../images/common/side08-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:first-child>a:before {background: url(../images/common/side01-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(2)>a:before {background: url(../images/common/side02-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(3)>a:before {background: url(../images/common/side03-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(4)>a:before {background: url(../images/common/side04-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(5)>a:before {background: url(../images/common/side05-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(6)>a:before {background: url(../images/common/side06-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(7)>a:before {background: url(../images/common/side07-active.svg) no-repeat; background-size: contain;}
.one-depth .d1.active:nth-child(8)>a:before {background: url(../images/common/side08-active.svg) no-repeat; background-size: contain;}
.one-depth .d1 .two-depth {display: none;}
.one-depth .d1.active .two-depth {display: block;}
.two-depth {padding: 9px 0 18px 0;}
.two-depth li {padding: 1px 0;}
.two-depth li a {color: #fff; width: 100%; display: block; height: 35px; line-height: 35px; padding: 0 20px 0 56px; border-radius: 6px;}
.two-depth li a:hover {background: #405DBC; color: #fff;}
.two-depth li.focus a {text-decoration: underline; font-weight: 600; color: #fff; background: #405DBC;}
.regist-card {background: url(../images/common/bg_regist-link2.svg) no-repeat; display: flex; align-items: center; width: 100%; height: 7.2rem; margin-top: 4rem; background-size: cover; border-radius: 6px; overflow: hidden;}
.gt-regist {position: relative; width: 100%; display: flex; align-items: center; font-size: 1.6rem; color: #fff; font-weight: 600; font-family: 'GmarketSans', 'Pretendard', "NotoSansKR", sans-serif; padding: 0 2.4rem; height: 7.2rem;}
.gt-regist:after {position: absolute; top: 24px; right: 16px; background: url(../images/common/iconArrowRight.svg) no-repeat; background-size: contain; width: 24px; height: 24px; content: ''; display: block;}
.gt-regist span {position: relative; display: block; margin-top: 5px;}
/* .gt-regist span:before {position: absolute; top: -10px; right: -12px; background: url(../images/common/ic_regist-txt.svg) no-repeat; background-size: contain; width: 12px; height: 12px; content: ''; display: block;} */

.sub-content-wrap {width: calc(100vw - 450px); margin: 26px 70px 34px;}
.menu-nav {display: flex; align-items: center; justify-content: flex-end; gap: 8px; color: #666; font-weight: 300; margin-bottom: 1.8rem;}
.menu-nav li:last-child {font-weight: 500; color: #1c1d1f;}
.h2-tit {font-weight: bold; font-size: 3.2rem; margin-bottom: 3.6rem; line-height: 3.2rem;}

/* 게시판 검색 */
.brd-wrap {position: relative;}
.brd-half-type {display: flex; gap: 4rem; align-items: flex-start; justify-content: space-between;}
.brd-search {position: relative; display: flex; justify-content: space-between; width: 100%; margin-right: 4rem; margin-bottom: 3rem; border-radius: 6px; background: #e4e9f3; border: 1px solid #c5cce0; padding: 3rem 4rem;}
.brd-search {flex: 1;}
.brd-search.oneline .search-section > div {min-width: unset; width: fit-content;}
.brd-search.oneline .search-section > div:nth-child(2n), .brd-search.oneline .search-section > div {margin-right: 5rem;}
.brd-search-btn {display: flex; align-items: flex-end; justify-content: flex-end;}
.brd-search-btn.float {position: absolute; right: 4rem; bottom: 3rem;}
.brd-search .search-section {display: flex; justify-content: flex-start; align-items: center; flex-wrap: wrap; gap: 10px;}
.brd-search .search-section:last-child {margin: 0;}
.brd-search .search-section p {color: #222; font-weight: 500; font-size: 1.6rem; min-width: 90px; line-height: 4rem;}
.brd-search .search-section p.wide {width: 116px;}
.brd-search input[type=text]::placeholder, .brd-search input[type=text]::-ms-input-placeholder {color: #a2a2a2;}
.brd-search select {width: 140px; padding: 0.8rem 3.8rem 0.8rem 1.3rem; margin: 0 0.6rem 0 0; background-color: #fff; font-size: 1.4rem; border: 1px solid #cfd7e4;}
.search-section > div {width: 30%; margin-right: 3rem; display: flex; justify-content: flex-start; align-items: center;}
.search-section > div:last-child {margin-right: 0;}
.search-section > div.search-date.fit {width: fit-content;}
.search-date input[type=text] {background: #ffffff url(../images/board/ic_cal.svg) no-repeat calc(100% - 0.8rem) 52%/14px auto; background-size: 22px; position: relative; width: 140px; padding: 1rem 4rem 1rem 1rem; margin: 0; font-size: 1.4rem; border: 1px solid #cfd7e4;}
.search-date input[type=text]::placeholder, .search-date input[type=text]::-ms-input-placeholder {color: #a2a2a2;}
.brd-search input[type=text]:focus {outline: 2px solid #4e6bca; background: #fafbff;}
.brd-search select:focus {outline: 2px solid #4e6bca; background: #fafbff url(../images/common/select-arrow.svg) no-repeat calc(100% - 1.2rem) 52%/12px auto;}
.search-date input[type=text]:focus {outline: 2px solid #4e6bca; background: #fafbff url(../images/board/ic_cal.svg) no-repeat calc(100% - 0.8rem) 52%/14px auto; background-size: 22px;}
.search-date > span {margin: 0 0.8rem; color: #333; font-size: 1.6rem; font-weight: 400;}
.search-section > div.check-wrap {gap: 4rem; width: 100%; display: flex; align-items: flex-start;}
.search-section.multiple > div.search-check {width: 100%; flex-wrap: nowrap;}
.search-section div.search-check {width: 100%; flex-wrap: nowrap;}
.check-wrap .search-text {width: 30%; display: flex; align-items: flex-start;}
.check-items {display: flex; flex-wrap: wrap;}
.check-items label {display: flex; margin-right: 3.6rem; height: 4rem; padding: 10px 0; cursor: pointer;}
/* .check-items.near label {min-width: 60px;}
.check-items.far label {min-width: 120px;} */

.search-check {display: flex; flex-wrap: wrap; width: 100%;}
.search-check input[type=checkbox] {margin-right: 10px; padding: 10px 0;}
.search-text input[type=text] {width: 176px; margin: 0 0.6rem 0 0; font-size: 1.4rem; border: 1px solid #cfd7e4;}
.search-text input[type=text]:last-child {margin: 0;}
.search-text.large input[type=text] {width: 380px;}
.search-text.medium input[type=text] {width: 257px;}
.search-text.short input[type=text] {width: 160px;}
.search-text.small input[type=text] {width: 80px;}
.board-note-wrap {margin-bottom: 3rem; margin-left: 6px;}
.board-note-wrap p {line-height: 2.4rem; font-size: 1.4rem;}
.board-note-wrap span {color: #e14242;}
.doctype-section {margin-top: 1rem;}
.doctype-section input[type="radio"] {display: none;}
.doctype-section .typeSelect {display: flex; align-items: center; background: #dae2f1; width: 100%; border-radius: 8px; font-family: 'GmarketSans', 'Pretendard', "NotoSansKR", sans-serif;}
.doctype-section .typeLabel {position: relative; font-size: 1.6rem; line-height: 1.6rem;}
.doctype-section .typeLabel.checked {padding: 0 4rem 0 7rem; background: #FAFBFF; color: #3B4EBA; border: 2px solid #3653B7; border-radius: 8px; font-weight: 600;}
.doctype-section .typeLabel:after {position: absolute; right: 0; top: 27px; height: 19px; width: 1px; background: #c7ced7; content: ''; display: block;}
.doctype-section .typeLabel.checked:after, .doctype-section .typeSelect .typeLabel:last-child:after {display: none;}
.doctype-section .typeLabel {flex: 1; padding: 0 6rem; height: 7.2rem; display: flex; align-items: center; gap: 8px; cursor: pointer; justify-content: center;}
.doctype-section .typeLabel span {position: relative; padding-top: 5px;}
.doctype-section .typeLabel.typeLabel1.checked span:after {position: absolute; left: -40px; top: -5px; display: block; content: ''; width: 30px; height: 30px; background: url(../images/button/btn_typeLabel1.svg);}
.doctype-section .typeLabel.typeLabel2.checked span:after {position: absolute; left: -40px; top: -5px; display: block; content: ''; width: 30px; height: 30px; background: url(../images/button/btn_typeLabel2.svg);}
.doctype-section .typeLabel.typeLabel3.checked span:after {position: absolute; left: -40px; top: -5px; display: block; content: ''; width: 30px; height: 30px; background: url(../images/button/btn_typeLabel3.svg);}
.doctype-section .typeLabel.typeLabel4.checked span:after {position: absolute; left: -40px; top: -5px; display: block; content: ''; width: 30px; height: 30px; background: url(../images/button/btn_typeLabel4.svg);}

/* 게시판 정보 */
.brd-info {display: flex; justify-content: space-between; align-items: flex-end; margin-bottom: 1.6rem;}
.brd-btn-wrap {display: flex; align-items: center; justify-content: space-between; gap: 12px;}
.brd-btn-wrap a, .brd-btn-wrap input[type="button"] {height: 4rem;}
.brd-num {display: flex; align-items: center; font-size: 1.4rem;}
.brd-num li:after {display: inline-block; content: ''; height: 12px; width: 1px; background: #999; margin: 0 10px;}
.brd-num li:last-child:after {display: none;}

.brd-list-01 {table-layout: fixed; box-sizing: border-box; border-collapse: collapse; width: 100%; margin: 0; font-size: 1.6rem; line-height: 1.2; border-spacing: 0; border-top: 2px solid #4f4f4f;}
.brd-list-01 thead tr {height: 6rem;}
.brd-list-01 tbody tr {height: 6.2rem;}
.brd-list-01 tbody tr.input-type td {padding: 1rem;}
.brd-list-01 th {padding: 1.9rem 1rem; vertical-align: middle; font-weight: 600; text-align: center; position: relative; border-bottom: 1px solid #4f4f4f; text-wrap: nowrap;}
.brd-list-01 th:before {content: ''; display: block; height: 18px; width: 1px; background: #e4e4e4; position: absolute; left: 0; top: calc(50% - 9px);}
.brd-list-01 th:first-child:before {display: none;}
.brd-list-01 tr {position:relative;}
.brd-list-01 tr.overdue td {color: #e14242;}
.brd-list-01 td.o-day>div {background: #fbecec; border-radius: 4px; display: flex; align-items: center; justify-content: center; width: fit-content; height: 29px; margin: 0 auto; padding: 0 24px;}
.brd-list-01 td {cursor: pointer; padding: 2rem 1rem; vertical-align: middle; text-align: center; font-size: 1.5rem; border-bottom: 1px solid #e8e8e8; word-break: break-all; color: #333333; line-height: 1.4;}
.brd-list-01 th:first-child,
.brd-list-01 td:first-child {border-left:none;}
.brd-list-01 th:last-child,
.brd-list-01 td:last-child {border-right:none;}
.brd-list-01 tbody tr:first-child th,
.brd-list-01 tbody tr:first-child td {border-top:none;}
.brd-list-01 tbody tr:hover {background: #fcfcfc;}
.brd-list-01 tbody tr:hover p {text-decoration: underline; font-weight: 500;}
.brd-list-01 tbody tr.nolink:hover p {text-decoration: unset; font-weight: 400;}
.brd-list-01 tbody tr.nolink:hover td {cursor: default;}
.brd-list-01 tbody tr.nolink:hover td a {cursor: default;}
.brd-list-01 tbody tr.selectable.select {background: #ebf3ff;}
.brd-list-01 tbody tr.selectable.select:hover {background: #ebf3ff;}
.brd-list-01 td .t-title {max-width: 720px; text-overflow:ellipsis;white-space:nowrap;overflow:hidden;display:block;}
.brd-list-01 td.st-level {color: #232323; font-size: 1.4rem;}
.brd-list-01 td.st-level>div {background: #e4e4e4; border-radius: 4px; display: flex; align-items: center; justify-content: center; width: 90px; height: 29px; margin: 0 auto;}
.brd-list-01 td.st-level.st01>div {background: #e6ecf2;}/*사전검토중*/
.brd-list-01 td.st-level.st02>div {background: #fbecec;}/*접수중*/
.brd-list-01 td.st-level.st03>div {background: #fff4de;}/*검토중*/
.brd-list-01 td.st-level.st04>div {background: #f3efff;}/*검토승인중*/
.brd-list-01 td.st-level.st05>div {background: #ebf2ff;}/*계획등록중*/
.brd-list-01 td.st-level.st06>div {background: #ebf6eb;}/*결과등록중*/
.brd-list-01 td.st-level.st07>div {background: #e4f8fd;}/*심의중*/
.brd-list-01 td.st-level.st08>div {background: #ffeddf;}/*자료보완*/
.brd-list-01 td.st-level.st09>div {background: #e9e9e9;}/*종료*/

.brd-footnote {margin: 2.2rem 0 0;}
.brd-footnote ul {width: 100%; display: flex; justify-content: flex-end; gap: 20px;}
.brd-footnote ul li {color: #777989; font-size: 1.2rem; display: flex; align-items: center; justify-content: flex-start; gap: 6px;}
.brd-footnote ul li .fn-num {width: 1.6rem; height: 1.6rem; line-height: 1.6rem; font-weight: 500; color: #fff; background: #afb2be; display: flex; align-items: center; justify-content: center; text-align: center; border-radius: 8px;}

/* 페이지네이션 */
.pagination {margin: 2.2rem 0 0 0; text-align: center; clear:both; }
.pagination a {color:#767676; display:inline-block; margin:2px; width:3.2rem; height:3.2rem; text-align:center; font-size:1.4rem; line-height:3.2rem; vertical-align:middle; border-radius: 4px;}
.pagination a.on {color:#ffffff; background:#43464C; display:inline-block; margin:2px; width: 3.2rem;  height: 3.2rem; text-align: center; font-size: 1.4rem; line-height:3.2rem; border-radius: 4px; vertical-align: middle;}
.pagination a:hover {background: #f1f1f1; transition: all ease 0.2s 0s;}
.pagination a.on:hover {color:#ffffff; background:#43464C;}
.pagination .prev-group {margin-right:6px;}
.pagination .next-group {margin-left:6px;}
.pagination .prev-group a,
.pagination .next-group a {width:30px; height:40px; background:url(../images/board/pagination_arrow.svg) no-repeat; margin:0; opacity: 0.7;}
.pagination .prev-group a:hover,
.pagination .next-group a:hover {transition: all ease 0.2s 0s; opacity: 1;}
.pagination .prev-group a.page-first {background-position:8px 12px;}
.pagination .prev-group a.page-prev {background-position:-37px 12px;}
.pagination .next-group a.page-end {background-position:-128px 12px;}
.pagination .next-group a.page-next {background-position:-81px 12px;}

/* 상세페이지 */
.dt-wrap {display: flex; align-items: center; justify-content: space-between; padding-bottom: 23px; margin-bottom: 23px; border-bottom: 1px solid #4f4f4f;}
.dt-wrap .h2-tit {margin-bottom: 0;}

.sub-content-inner {width: 100%; padding-top: 7px;}
.board-block {width: 100%; margin-top: 4rem;}
.board-block.fold .board-list {display: none;}
.sub-content-inner .board-block:first-child {margin-top: 0;}
.board-title {width: 100%; padding: 1rem 0; display: flex; align-items: center; justify-content: space-between; border-bottom: 1px solid #4f4f4f;}
.board-title.caution {width: 100%; padding: 1rem 0; display: flex; align-items: flex-start; justify-content: space-between; border-bottom: 1px solid #4f4f4f;}
.board-title.caution>div {display: flex; flex-direction: column; align-items: flex-start;}
.board-title.caution .caution-txt {margin: 1.6rem 0 0;}
.board-title.noborder {border-bottom: none;}
.h4-tit {font-size: 2.2rem; line-height: 2.2rem; font-weight: 600;}

.board-list {padding-bottom: 1.2rem;}
.board-list .stepbox {background: #e4e4e4; border-radius: 4px; display: flex; align-items: center; justify-content: center; width: 90px; height: 29px;}
.board-list .stepbox.step01 {background: #e6ecf2;}/*사전검토중*/
.board-list .stepbox.step02 {background: #fbecec;}/*접수중*/
.board-list .stepbox.step03 {background: #fff4de;}/*검토중*/
.board-list .stepbox.step04 {background: #f3efff;}/*검토승인중*/
.board-list .stepbox.step05 {background: #ebf2ff;}/*계획등록중*/
.board-list .stepbox.step06 {background: #ebf6eb;}/*결과등록중*/
.board-list .stepbox.step07 {background: #e4f8fd;}/*심의중*/
.board-list .stepbox.step08 {background: #ffeddf;}/*자료보완*/
.board-list .stepbox.step09 {background: #e9e9e9;}/*종료*/

/* 상세 테이블 */
.board-table {width: 100%;}
.board-table.borderT {border-top: 1px solid #4f4f4f;}
.board-table th {background: #dae2f1; border-bottom: 1px solid #fff; padding: 2rem; color: #333; font-size: 1.5rem; line-height: 2rem; font-weight: 500; text-align: center; word-break: keep-all;}
.board-table td {padding: 1rem 2rem; border-bottom: 1px solid #ddd;}
.board-table td select {padding: 0 40px 0 14px; display: inline-block;}
.board-table td p {line-height: 2.4rem;}
.board-table td input[type="radio"] {margin-right: 6px; margin-bottom: 2px;}
.board-table td input[type="checkbox"] {margin: 1rem 0.6rem 1rem 0; height: 2rem;}
.board-table td input[type="checkbox"]+label {cursor: pointer; height: 4rem;}
.board-table td.radio-type label {margin-right: 20px; cursor: pointer;}
.board-table td.radio-type input[type="radio"]:disabled {cursor: default; opacity: 1;}
.board-table td.radio-type.readonly label {cursor: text;}
.board-table td.radio-type.readonly input[type="radio"] {cursor: default;}
.board-table td.check-type label {margin-right: 20px; cursor: pointer; display: flex; align-items: center;}
.board-table td.check-type input[type="radio"]:disabled {cursor: default; opacity: 1;}
.board-table td.check-type.readonly label {cursor: text;}
.board-table td.check-type.readonly input[type="radio"] {cursor: default;}
.board-table td input[type="text"]:read-only {background: #efeff2;}
.board-table td input[type="text"]:read-only:focus {outline: none;}
.board-table td input.small {width: 5.8rem; text-align: right;}
.board-table td.file-download .att-file {margin-top: 1rem;}
.board-table td.file-upload input[type="text"]:read-only {background: #fff; min-width: 46rem;}
.board-table td.file-upload input[type="text"]:read-only:focus {outline: none;}
.board-table td .num-type input[type="text"] {width: 6.8rem; text-align: center;}
.board-table td .num-type input[type="text"]:first-child {width: 5.8rem;}
.board-table tr.longtxt {height: 12rem;}
.board-table tr.longtxt.small {height: 24rem;}
.board-table tr.longtxt.medium {height: 36rem;}
.board-table tr.longtxt.large {height: 60rem;}
.board-table tr.longtxt td {padding: 1.6rem 2rem; vertical-align: baseline;}
.board-table td select.l-select {min-width: 316px;}
.board-table td select.m-select {min-width: 200px;}
.board-table td select.s-select {min-width: 95px;}
.board-table td input[type="text"].l-text {width: 280px;}
.board-table td input[type="text"].m-text {width: 160px;}
.board-table td input[type="text"].s-text {width: 80px;}
.board-table tr:last-child th {border-bottom: 1px solid #ddd;}
.info-txt {margin-top: 0.8rem; font-size: 1.4rem; color: #999999; word-break: keep-all;}
.rq-mark {display: inline-block; margin-right: 0.4rem; color: #cd3839;}
.board-table textarea {padding: 1rem 1.4rem;}
.board-table textarea.h20 {height: 20rem;}
.board-table textarea.h15 {height: 15rem;}
.board-table textarea.h10 {height: 10rem;}
.board-table th.lh20 {line-height: 2rem; border-right: 1px solid #fff;}
.att-file {margin: 1.6rem 0 1rem; display: flex; flex-direction: column; align-items: flex-start; gap: 1.6rem;}
.att-file li {position: relative; padding-left: 27px; height: 18px;}
.att-file li:before {position: absolute; left: 3px; top: 0; width: 15px; height: 18px; background: url(../images/board/ic_attfile.svg) no-repeat; content: ''; display: block;}
.att-file li span {color: #a4a4a4; font-size: 1.3rem;}
.board-note {display: flex; flex-direction: column; margin-top: 2.6rem;}
.board-note>p {color: #cd3839; font-weight: 600; font-size: 1.6rem; line-height: 1.6rem; position: relative; padding-left: 30px;}
.board-note>p:before {position: absolute; left: 6px; top: 0; background: url(../images/board/ic_exclamation.svg) no-repeat; width: 16px; height: 16px; display: block; content: '';}
.note-list {display: flex; flex-direction: column; background: #dae2f1; border-radius: 0.6rem; padding: 2rem 4.5rem; margin-top: 1.6rem;}
.note-list li {height: 2.8rem; line-height: 2.8rem; list-style-type: disc;}
.bg-box {background: #dae2f1; border-radius: 0.6rem; margin-top: 1.6rem;}
.partner-list {display: inline-flex; align-items: center; justify-content: flex-start; gap: 12px; padding: 0 6px;}
.partner-list li {display: flex; align-items: center; padding: 6px 10px; background: #f1f4fc; border: 1px solid #dbe4f0; border-radius: 4px;}
.partner-list li>span {line-height: 18px; padding: 0 4px; font-size: 14px; color: #193975;}
.partner-list li>a {display: flex; align-items: center; justify-content: center;}
.partner-list li img {vertical-align: top;}
.ic_edit {width: 20px; height: 20px; margin-left: 4px; display: inline-block; background: url(../images/button/ic_editpen.svg) no-repeat; background-size: contain; vertical-align: middle;}

/* 코멘트 영역 스타일 */
.comment-box {display: flex; flex-direction: column; padding: 3rem; margin-top: 1.8rem;}
.comment-box>p {margin-top: 1rem; font-size: 1.4rem; color: #818999;}
.comment-input {display: flex; gap: 0.8rem;}
.cmt-input {flex: 1;}
.cmt-input input[type="text"] {width: 100%; border: 1px solid #cfd7e4;}
.comment-history {display: flex; flex-direction: column; gap: 1.8rem; margin: 1.8rem 0;}
.comment-item {border-top: 1px solid #e3e3e7; border-bottom: 1px solid #e3e3e7; padding: 3rem 3rem 2.4rem; display: flex; flex-direction: column;}
.cmt-info {display: flex; align-items: center; gap: 1.3rem; padding-bottom: 1.6rem; border-bottom: 1px dashed #e9e9e9;}
.cmt-person {display: flex; align-items: center; gap: 0.7rem;}
.cmt-person span {font-weight: 500; line-height: 1.5rem;}
.cmt-time span {color: #b6b7b8; line-height: 1.5rem;}
.cmt-text {padding-top: 1.6rem; font-size: 1.6rem; line-height: 2.5rem;}

.board-btn-wrap {margin: 6rem 0;}
.board-btn-wrap.middle {margin: 2.4rem 0;}
.board-btn-wrap .btn-wrap {justify-content: center;}
.board-btn-wrap .btn-wrap.end {justify-content: flex-end;}
.board-btn-wrap .btn-wrap input[type="button"] {width: 10rem; height: 40px; border-radius: 4px; transition: all ease 0.2s 0s;}

.inner-btn-wrap {width: 100%; display: flex; align-items: center; justify-content: flex-end; gap: 8px;}

/* 상세 테이블 내부 테이블 */
.board-table td.add-type {padding: 0;}
.board-table td.add-type .add-tr {padding: 1rem 2rem; border-top: 1px solid #e8e8e8;}
.board-table td.add-type .add-tr:first-child {padding: 1rem 2rem; border-top: none;}
.board-table .in-tr {display: grid; align-items: center; grid-template-columns: 1fr 110px;}
.board-table .in-tr.readonly {grid-template-columns: 1fr;}
.board-table .in-tr.readonly .in-body {min-height: 14rem;}
.board-table .in-tr .in-body-td p {padding: 1rem 2rem;}
.in-header, .in-body {display: flex;}
.in-header {border-radius: 4px 4px 0 0; border: 1px solid #dbdbdb; border-bottom: none; background: #f6f6f9; box-sizing: border-box;}
.in-header .in-header-th {display: flex; height: 4.8rem; align-items: center; justify-content: center; font-weight: 500;}
.in-header .in-header-th:nth-child(1) {flex: 1; border-right: 1px solid #dbdbdb;}
.in-header .in-header-th:nth-child(2) {flex: 2; border-right: 1px solid #dbdbdb;}
.in-header .in-header-th:nth-child(3) {flex: 2;}
.in-body {border-radius: 0 0 4px 4px; border: 1px solid #dbdbdb; box-sizing: border-box; height: auto;}
.in-body .in-body-td {display: flex;}
.in-body .in-body-td:nth-child(1) {flex: 1; border-right: 1px solid #dbdbdb;}
.in-body .in-body-td:nth-child(2) {flex: 2; border-right: 1px solid #dbdbdb;}
.in-body .in-body-td:nth-child(3) {flex: 2;}
.in-body-td textarea {border-radius: 4px; border: none;}
.in-body-btn, .in-header-btn {margin-left: 1rem;}
.in-body-btn input[type=button], .in-header-btn input[type=button] {width: 100px; height: 40px; border-radius: 4px;}

/* 차트 영역 */
.chart-block {width: 100%; margin-top: 4rem;}
.chart-title {width: 100%; padding: 0 0 2rem; display: flex; align-items: center; justify-content: space-between;}
.chart-wrap {width: 100%; min-height: 36rem; padding: 4rem; border-radius: 6px; border: 1px solid #d9d9d9;}
.apexcharts-text, .apexcharts-title-text, .apexcharts-legend-text, .apexcharts-xaxis-title, .apexcharts-yaxis-label {font-family: 'Pretendard','Noto Sans KR','Apple SD Gothic Neo','맑은 고딕','Malgun Gothic','돋움','Dotum','굴림','Gulim','AppleGothic','Sans-serif' !important;}
.num-table-wrap {margin: 4rem 0;}
.num-table {table-layout: fixed; box-sizing: border-box; border-collapse: collapse; width: 100%; margin: 0; font-size: 1.6rem; line-height: 1.2; border-spacing: 0; border-top: 2px solid #3653B7;}
.num-table th {background: #f6f7ff; font-size: 1.6rem; vertical-align: middle; font-weight: 600; text-align: center; border-bottom: 1px solid #E3E9EF; border-right: 1px solid #E3E9EF; text-wrap: nowrap;}
.num-table th, .num-table td {line-height: 2rem; padding: 0rem 1rem; height: 6rem; vertical-align: middle; text-align: center; border-bottom: 1px solid #E3E9EF; border-right: 1px solid #E3E9EF;}
.num-table tr th:first-child {border-left: 1px solid #E3E9EF;}
.num-table tr td:first-child {border-left: 1px solid #E3E9EF;}
.num-table tr {position:relative;}
.num-table td {word-break: break-all; color: #333333; font-size: 1.5rem;}
.num-table tbody tr:first-child th, .num-table tbody tr:first-child td {border-top:none;}
.num-table tbody tr.picked td {background: #e4f5ff; border-color: #fff; border-left-color: #E3E9EF; color: #3653B7;}
.num-table tbody tr.picked td:last-child {border-right-color: #E3E9EF;}

/* 부서실적 차트 */
.num-table-wrap.scroll {height: 364px; overflow-y: auto; border-top: 2px solid #3653B7;}
.num-table-wrap.scroll .num-table.process {border-top: none;}
.num-table.process thead th {position: sticky; top: 0; z-index: 1;}
.num-table.process .num-table {border-top: none;}
.num-table.process tr th {white-space: normal;}
.num-table.process tr td {position: relative;}
.num-table.process tr td.done {background: url(../images/board/ic_process2.svg) no-repeat center center; border-right: none;}
.num-table.process tr td.done:after {display: block; content: ''; z-index: -1; position: absolute; top: 26px; left: 60px; width: 100%; height: 5px; background: #c8eeff;}
.num-table.process tr td.done.last:after {display: none;}
.num-table.process tr td.yet {background: url(../images/board/ic_process-yet.svg) no-repeat center center; border-right: none;}
.num-table.process tr td.yet:after {display: block; content: ''; z-index: -1; position: absolute; top: 26px; right: 60px; width: 100%; height: 5px; background: #EAEFF5;}
.num-table.process tr td:last-child {border-right: 1px solid #E3E9EF;}

/* 제안실적 차트 영역 */
.num-table-my {table-layout: fixed; box-sizing: border-box; border-collapse: collapse; width: 100%; margin: 0; font-size: 1.6rem; line-height: 1.2; border-spacing: 0; border-top: 2px solid #3653B7;}
.num-table-my th, .num-table-my td {line-height: 1.5rem; padding: 2rem 1rem; vertical-align: middle; text-align: center; word-break: break-all; text-wrap: nowrap;}
.num-table-my th {background: #e4e9f3; font-size: 1.6rem; font-weight: 600; border-bottom: 1px solid #fff; border-right: 1px solid #fff;}
.num-table-my td {color: #333333; font-size: 1.5rem; border-bottom: 1px solid #E3E9EF; border-right: 1px solid #E3E9EF;}
.num-table-my tr {position:relative;}
.num-table-my tr th:last-child {border-right: 1px solid #E3E9EF;}

/* input */
input, select, button {margin: 0; font-family: inherit; font-size: inherit; color: inherit; height: 4rem; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
input[type=submit], input[type=button] {cursor: pointer;}
input[type="text"]:read-only {color: #aaa;}
input[type="text"]:read-only::placeholder, input[type="text"]:read-only::-ms-input-placeholder {color: #aaa;}
input {padding: 0.8rem 1.3rem 0.8rem 1.3rem; margin: 0; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border: 1px solid #e9e9ec;}
input[type="checkbox"], input[type="radio"] {cursor: pointer; vertical-align: middle; width: 2rem; height: 2rem; margin: 0; opacity: .5; -webkit-appearance: auto;}
input[type="checkbox"]:checked, input[type="radio"]:checked {opacity: 1; accent-color: #242424;}
input[type="checkbox"]:disabled {cursor: default;}
select {text-transform: none; display: block; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background: url(../images/common/select-arrow.svg) no-repeat calc(100% - 1.2rem) 52%/12px auto; border: 1px solid #e9e9ec;}
button, input[type=button] {transition: all ease 0.2s 0s;}
textarea {position: relative; resize: none; background-color: #ffffff; line-height: 2.4rem; width: 100%; display: inline-block; margin: 0; box-sizing: border-box; vertical-align: middle; border: 1px solid #e9e9ec; border-radius: 4px; font-size: 1.5rem;}
textarea::-webkit-scrollbar {width: 1em;}
textarea::-webkit-scrollbar-track {background: #ddd; border-radius: 1rem;}
textarea::-webkit-scrollbar-thumb {background-color: #bababa; border-radius: 1rem;}

/* Button */
.btn-title {display: flex; justify-content: space-between; align-items: center; margin-bottom: 3.6rem;}
.btn-title .h2-tit {margin-bottom: 0;}
.btn-wrap {display: flex; gap: 10px; justify-content: space-between; align-items: center;}
.btn-wrap.bw100 input[type="button"] {width: 100px;}
.btn-wrap.bw90 input[type="button"] {width: 90px;}
.btn-wrap.bw80 input[type="button"] {width: 80px;}
input[type=button].bw120 {min-width: 120px;}
input[type=button].bw100 {min-width: 100px;}
input[type=button].bw80 {min-width: 80px;}
.btn-wrap input[type="button"] {height: 38px; border-radius: 4px; display: flex; align-items: center; justify-content: center;}
.search-text .btn-searchpart {background: #6c7282; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem; margin: 0 0.6rem;}
.search-text .btn-searchpart:hover {background: #4a5369; transition: all ease 0.2s 0s;}
.btn-sorter {width: 8px; height: 16px; background: url(../images/button/btn_sorter.svg) no-repeat; margin-left: 8px; padding-bottom: 2px;}
.btn-sorter.up {background: url(../images/button/btn_sorter-up.svg) no-repeat;}
.btn-sorter.down {background: url(../images/button/btn_sorter-down.svg) no-repeat;}


.brd-search-btn input[type=button] {height: 4rem; border-radius: 4px; display: flex; align-items: center; justify-content: center;} 
.brd-search-btn input[type=button]:last-child {margin-right: 0;}
.btn-search {background: #325bc4 url(../images/board/ic_search.svg) no-repeat 26px 13px; color: #ffffff; border: none; padding: 0 26px 0 47.5px; font-size: 1.4rem; margin: 0 0.6rem; display: flex;}
.btn-search:hover {background: #1C44AA url(../images/board/ic_search.svg) no-repeat 26px 13px;; transition: all ease 0.2s 0s;}
.btn-reset {background: #fff url(../images/board/ic_reset.svg) no-repeat 20px 13px; background-size: 14px; border: 1px solid #325bc4; color: #325bc4; padding: 0 20px 0 41.5px; font-size: 1.4rem; font-weight: 500; margin: 0 0.6rem; display: flex;}
.btn-reset:hover {background: #325bc4 url(../images/board/ic_reset-hover.svg) no-repeat 20px 13px; background-size: 14px; color: #fff; transition: all ease 0.2s 0s;}
.btn-excel {display: flex; height: 38px; line-height: 1.5rem; border-radius: 4px; border: 1px solid #0d7038; color: #41a074; font-weight: 500; padding: 0 2rem 0 4.3rem; font-size: 1.4rem; background: #fff url(../images/board/ic_excel.svg) no-repeat 20px 11.5px;}
.btn-excel:hover {background: #0d7038 url(../images/board/ic_excel.svg) no-repeat 20px 11.5px; color: #fff;}
.btn-print {background: #fff url(../images/button/ic_print.svg) no-repeat 21px 12px; color: #535B63; border: 1px solid #535b63; padding: 0 20px 0 41px; font-size: 1.4rem; font-weight: 500;}
.btn-print:hover {background: #535B63 url(../images/button/ic_print-hover.svg) no-repeat 21px 12px; color: #fff; border: 1px solid #535b63;}
.btn-sheet {background: #fff url(../images/button/ic_sheet.svg) no-repeat 21px 12px; color: #3B4EBA; border: 1px solid #3b4eba; padding: 0 20px 0 41px; font-size: 1.4rem; font-weight: 500;}
.btn-sheet:hover {background: #3B4EBA url(../images/button/ic_sheet-hover.svg) no-repeat 21px 12px; color: #fff; border: 1px solid #3b4eba;}
.btn-temporlist {background: #fff url(../images/button/ic_temporlist.svg) no-repeat 21px 12px; color: #3B4EBA; border: 1px solid #3b4eba; padding: 0 20px 0 41px; font-size: 1.4rem; font-weight: 500;}
.btn-temporlist:hover {background: #3B4EBA url(../images/button/ic_temporlist-hover.svg) no-repeat 21px 12px; color: #fff; border: 1px solid #3b4eba;}
.btn-accordion {display: block; width: 32px; height: 32px; border-radius: 4px; background: #fff url(../images/button/ic_accordion.svg) no-repeat; background-size: contain; border: 1px solid #333;}
.btn-accordion.fold {transform: rotate(-180deg);}
.btn-searchpart {background: #6c7282; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem; margin: 0 0.4rem;}
.btn-searchpart:hover {background: #4a5369; transition: all ease 0.2s 0s;}
.btn-searchfile {background: #6c7282; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem; margin: 0 0.4rem;}
.btn-searchfile:hover {background: #4a5369; transition: all ease 0.2s 0s;}
.btn-searchperson {background: #6c7282; color: #ffffff; border: none; padding: 1rem 2.8rem; min-width: 104px; font-size: 1.4rem; margin: 0 0.4rem;}
.btn-searchperson:hover {background: #4a5369; transition: all ease 0.2s 0s;}
.btn-searchrule {background: #6c7282; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem; margin: 0 0.4rem;}
.btn-searchrule:hover {background: #4a5369; transition: all ease 0.2s 0s;}
.btn-temporary {background: #fff; color: #325bc4; border: 1px solid #325bc4; padding: 0 2rem;}
.btn-temporary:hover {background: #325bc4; color: #fff;}
.btn-listview {background: #8591a3; color: #fff;}
.btn-listview:hover {background: #6c7282;}
.btn-regist {background: #325bc4; color: #fff; border: 1px solid #325bc4;}
.btn-regist:hover {background: #1c44aa;}
.btn-add-tr {background: #325bc4; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem;}
.btn-add-tr:hover {background: #1C44AA; transition: all ease 0.2s 0s;}
.btn-add-code {background: #325bc4; color: #ffffff; border: none; padding: 1rem 2rem; font-size: 1.4rem;}
.btn-add-code:hover {background: #1C44AA; transition: all ease 0.2s 0s;}
.btn-del-tr {background: #6c7282; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem;}
.btn-del-tr:hover {background: #4a5369; transition: all ease 0.2s 0s;}
.btn-new {height: 40px; line-height: 2rem; border-radius: 4px; background: #325bc4 url(../images/button/btn_new.svg) no-repeat 20px 12px; color: #ffffff; border: none; padding: 1rem 2.4rem 1rem 3.9rem; font-size: 1.5rem; line-height: 1.9rem;}
.btn-new:hover {background: #1C44AA url(../images/button/btn_new.svg) no-repeat 20px 12px; transition: all ease 0.2s 0s;}
.btn-download {background: #6c7282 url(../images/button/ic_alldown.svg) no-repeat 21px 13px; color: #ffffff; border: none; padding: 1rem 2rem 1rem 4.4rem; font-size: 1.4rem;}
.btn-download:hover {background: #4a5369 url(../images/button/ic_alldown.svg) no-repeat 21px 13px; transition: all ease 0.2s 0s;}
.btn-comment {background: #54555c; color: #ffffff; border: none; padding: 1rem 2.8rem; font-size: 1.4rem; margin: 0 0.4rem;}
.btn-comment:hover {background: #42444d; transition: all ease 0.2s 0s;}
.btn-delete {background: #D14343; color: #fff; padding: 0 2rem;}
.btn-delete:hover {background: #C32E2E;}
.btn-transfer {background: #fff; color: #325bc4; border: 1px solid #325bc4; padding: 0 2rem; font-size: 1.4rem; font-weight: 500;}
.btn-transfer:hover {background: #325bc4; color: #fff; border: 1px solid #325bc4;}
.btn-confirm {background: #325bc4; color: #fff;}
.btn-confirm:hover {background: #1c44aa;}
.btn-save {background: #325bc4; color: #fff;}
.btn-save:hover {background: #1c44aa;}
a.btn-rewrite {height: 38px; border-radius: 4px; display: flex; align-items: center; justify-content: center; background: #fff url(../images/button/ic_rewrite.svg) no-repeat 21px 12px; color: #1F7C70; border: 1px solid #1F7C70; padding: 0 20px 0 41px; font-size: 1.4rem; font-weight: 500;}
a.btn-rewrite:hover {background: #1F7C70 url(../images/button/ic_rewrite-hover.svg) no-repeat 21px 12px; color: #fff; border: 1px solid #1F7C70;}
a.btn-recheck {height: 38px; border-radius: 4px; display: flex; align-items: center; justify-content: center; background: #fff url(../images/button/ic_recheck.svg) no-repeat 21px 12px; color: #1F7C70; border: 1px solid #1F7C70; padding: 0 20px 0 41px; font-size: 1.4rem; font-weight: 500;}
a.btn-recheck:hover {background: #1F7C70 url(../images/button/ic_recheck-hover.svg) no-repeat 21px 12px; color: #fff; border: 1px solid #1F7C70;}
.btn-paystatus {background: #fff; color: #325bc4; border: 1px solid #325bc4; padding: 0 2rem; font-size: 1.4rem; font-weight: 500; cursor: default;}
.btn-edit {height: 38px; border-radius: 4px; display: flex; align-items: center; justify-content: center; background: #325bc4; color: #fff; border: 1px solid #325bc4; padding: 0 20px; font-size: 1.4rem; font-weight: 500;}
.btn-edit:hover {background: #1c44aa;}
.btn-alldown {height: 40px; border-radius: 4px; display: flex; align-items: center; justify-content: center; background: #fff url(../images/button/btn_alldown-normal.svg) no-repeat 21px 13px; color: #325bc4; border: 1px solid #325bc4; padding: 0 20px 0 41px; font-size: 1.4rem; font-weight: 500;}
.btn-alldown:hover {background: #325bc4 url(../images/button/btn_alldown-hover.svg) no-repeat 21px 13px; color: #fff; border: 1px solid #325bc4;}

/* 추첨하기 버튼 */
.roulette-box {display: flex; justify-content: center; height: 48px; align-items: center;}
.btn-roulette {position: relative; border-radius: 4px; background: #325bc4; color: #fff; padding: 0 3rem;}
.btn-roulette:after {position: absolute; content: ''; scale: 0; width: 20px; height: 20px; top: 13px; left: 34px; display: block; background: url(../images/button/btn_star.svg) no-repeat; transition: all .3s;}
.btn-roulette:hover {height: 48px; border: none; border-radius: 30px; padding: 0 4rem 0 6rem; background: var(--gradient-color2); border: none; color: #fff; box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);}
.btn-roulette:hover:after {scale: 1;}


.btn-gray {background: #6c7282; color: #fff; border: 1px solid transparent; padding: 0 2rem;}
.btn-gray:hover {background: #4a5369; border: 1px solid transparent;}
.btn-grayline {background: #fff; color: #6c7282; border: 1px solid #6c7282; padding: 0 2rem;}
.btn-grayline:hover {background: #6c7282; color: #fff;}
.btn-lightgray {background: #8591a3; color: #fff; border: 1px solid transparent; padding: 0 2rem;}
.btn-lightgray:hover {background: #6c7282; border: 1px solid transparent;}
.btn-green {background: #1F7C70; color: #fff; padding: 0 2rem;}
.btn-green:hover {background: #155950;}
.btn-blue {background: #325bc4; color: #fff; padding: 0 2rem; border: 1px solid #325bc4;}
.btn-blue:hover {background: #1C44AA;}
.btn-navy {background: #233D75; color: #fff; padding: 0 2rem;}
.btn-navy:hover {background: #121F3C;}
.btn-blueline {background: #fff; color: #325bc4; border: 1px solid #325bc4; padding: 0 2rem;}
.btn-blueline:hover {background: #325bc4; color: #fff;}
.btn-red {background: #D14343; color: #fff; padding: 0 2rem;}
.btn-red:hover {background: #C32E2E;}
.btn-redline {background: #fff; color: #D14343; border: 1px solid #D14343; padding: 0 2rem;}
.btn-redline:hover {background: #C32E2E; color: #fff;}


.board-wrap {overflow-x: auto;}
.board-wrap::-webkit-scrollbar {width: 1em; height: 1rem;}
.board-wrap::-webkit-scrollbar-track {background: #ddd; border-radius: 1rem;}
.board-wrap::-webkit-scrollbar-thumb {background-color: #bababa; border-radius: 1rem;}
.table-wrap.scroll {overflow-x: auto;}
.table-wrap.scroll table {min-width: 1200px;}

/* 코드관리목록 */
.bh-title {height: 3.8rem; display: flex; align-items: center; justify-content: space-between; margin-bottom: 2rem;}
.brd-half-block {flex: 1;}
.helf-table-wrap {max-width: 100%; border: 1px solid #d9d9d9; padding: 4rem; height: 78rem; overflow-y: auto; border-radius: 6px;}
.helf-table-wrap::-webkit-scrollbar {width: 1em;}
.helf-table-wrap::-webkit-scrollbar-track {background: #ddd; border-radius: 1rem;}
.helf-table-wrap::-webkit-scrollbar-thumb {background-color: #bababa; border-radius: 1rem;}
.helf-table-wrap .brd-list-01 input[type="text"] {width: 100%;}
.helf-table-wrap .brd-list-01 input[type="text"].wauto {width: auto;}
.helf-table-wrap .brd-list-01 select {width: 100%; padding: 0.8rem 3.8rem 0.8rem 1.3rem;}
.helf-table-wrap tbody tr.selectable.select {background: #e0eeff;}
.helf-table-wrap tbody tr.selectable.select:hover {background: #e0eeff;}
.helf-note-wrap {padding: 1rem 0; display: flex; justify-content: space-between; align-items: center;}

/* 분임조 */
.inner-table-wrap {border: 1px solid #e8e8e8; border-radius: 4px;}
.inner-table-wrap.square {border-bottom: 1px solid #e8e8e8; border-right: none; border-left: none; border-top: none; border-radius: 0;}
.inner-table tr {height: 56px;}
.inner-table.short tr {height: 48px;}
.inner-table.short tr th {padding: 0;}
.inner-table-wrap.square tr:first-child th:first-child, .inner-table-wrap.square tr:first-child th:last-child {border-radius: 0;}
.inner-table tr th {padding: 0.8rem 2rem; border-right: 1px solid #fff;}
.board-table.inner-table tr th {padding: 0.8rem 2rem; border-right: 1px solid #fff; border-bottom: 1px solid #fff; border-top: none;}
.board-table.inner-table tr th:first-child {border-left: none;}
.board-table.inner-table tr th:last-child {border-right: none;}
.inner-table tr th:last-child {border-right: none;}
.inner-table tr td {padding: 0.8rem 1.6rem; border-right: 1px solid #e8e8e8; word-break: keep-all;}
.inner-table tr td:last-child {border-right: none;}
.inner-table tr:last-child td {border-bottom: none;}
.inner-table .btn-wrap {justify-content: center; min-height: 60px;}
.inner-table tr.picked td {background: #bfe8ff; border-color: #fff;}
.board-table .inner-table tr:last-child th {border-bottom: none;}

/* 이벤트관리 */
.vtc-table-wrap {margin: 4rem 0;}
.vtc-table {table-layout: fixed; box-sizing: border-box; border-collapse: collapse; width: 100%; margin: 0; font-size: 1.6rem; line-height: 1.2; border-spacing: 0; border-top: 2px solid #3653B7;}
.vtc-table th {background: #dae2f1; font-size: 1.6rem; vertical-align: middle; font-weight: 500; text-align: center; border-bottom: 1px solid #E3E9EF; border-right: 1px solid #fff; text-wrap: nowrap;}
.vtc-table tr td {border: 1px solid #E3E9EF;}
.vtc-table th, .vtc-table td {line-height: 1.5rem; padding: 2.25rem 1rem; vertical-align: middle; text-align: center;}
.vtc-table tr th:first-child {border-left: 1px solid #E3E9EF;}
.vtc-table tr th:last-child {border-right: 1px solid #E3E9EF;}
.vtc-table tr td:first-child {border-left: 1px solid #E3E9EF;}
.vtc-table tr {position:relative;}
.vtc-table td {word-break: break-all; color: #333333; font-size: 1.5rem;}
.vtc-table tbody tr:first-child th, .vtc-table tbody tr:first-child td {border-top:none;}
.vtc-table tbody tr.picked td {background: #e4f5ff; border-color: #fff; border-left-color: #E3E9EF;}
.vtc-table tbody tr.picked td:last-child {border-right-color: #E3E9EF;}

@media (max-width: 2480px) {
    .search-section > div {width: calc((100% - 300px) / 2);}
    .search-section.multiple > div {width: 46%;}
    .search-section.multiple > div.check-wrap {width: 100%;}
    .search-section > div:nth-child(2n) {margin-right: 0;}
    .search-section .search-check, .check-wrap .search-text {width: 100%; flex-wrap: nowrap;}
}

@media (max-width: 1920px) {
    .search-section > div {min-width: 350px;}
    .search-section.multiple > div {min-width: 480px;}
    .num-table.process tr td.done:after {left: 50px;}
    .num-table.process tr td.yet:after {right: 50px;}
}

@media (max-width: 1660px) {
    #sub-gnb-wrap {width: 240px;}
    .sub-content-wrap {width: calc(100vw - 340px); margin: 26px 40px 34px;}
    .one-depth .d1>a {width: 220px;}
    .search-section > div.search-date {width: 100%;}
    .regist-card {width: 20rem;}
    .gt-regist {padding-right: 5rem; word-break: auto-phrase;}
    .gt-regist span:before {display: none;}
    .search-section > div.search-text.fit {width: fit-content;}
}

@media (max-width: 1440px) {
    .one-depth .d1>a {width: 200px;}
    /* .brd-search {flex-direction: column;} */
    /* .brd-search-btn {margin-top: 3rem;} */
    .brd-search-btn input[type="button"]:last-child {margin: 0 0 0 0.6rem;}
    .search-text input[type=text] {max-width: unset;}
    .num-table.process tr td.done:after {left: 40px;}
    .num-table.process tr td.yet:after {right: 40px;}
}

@media (max-width: 1360px) {
    .search-section > div.check-wrap {flex-direction: column; gap: 1rem;}
    .search-section .search-check {width: 100%;}
    .check-items.far label {min-width: unset;}
}

@media (max-width: 1280px) {
    .sub-content-wrap {width: 965px; margin: 26px 34px 34px;}
    .search-text .btn-searchpart {margin: 0 0 0 0.6rem;}
    .helf-table-wrap {height: 48rem;}
    .brd-half-type {flex-direction: column;}
    .brd-search-btn {margin-top: 0;}
    .brd-half-block {width: 100%;}
}